<div class="contenido">
  <div id="container">
    <div id="main_content">
      <div class="support_pages">

        <% content_for :title do %>
          Termos e condições de Coca-Cola.fm
        <% end %>

        <!-- integracion -->
        <h1 class="tit_bloque gris">
          <span class="txt">Termos e condições de Coca-Cola.fm</span>
          <span class="bg_fin">&nbsp;</span>
        </h1><!-- .tit_bloque -->  
        <!-- fin integracion -->

 <div id="pages"><div id="internal_content"><div id="pages_internal"><h2 class='alternate'>Termos e condições</h2> 

<p> 
Nós estamos empenhados em manter o Cyloop um website agradável e acessível para todos os usuários. Este documento de termos e condições é um acordo entre você (também referido como “usuário” ou “visitante”) e o Cyloop (o “site”, “website” ou “nós”).
</p> 
<h2>1. Seu consentimento</h2> 
<p> 
Por favor, leia atentamente este documento. Você deve concordar com estes termos, que criam obrigações legais entre o usuário e o Cyloop. Ao acessar e utilizar qualquer parte do site você está automaticamente reconhecendo esta política de privacidade. Se você não concorda com qualquer parte deste documento, por favor, não acesse o site.
</p> 
<h2>2. Serviços</h2> 
<p> 
Nosso website oferece serviços, como por exemplo, a criação de páginas de perfil para usuários registrados. Visitantes também podem escutar música, conectar com outros usuários (através do sistema de “seguidores”) e ver vídeos, se disponíveis. Ainda que o Cyloop faça um esforço razoável para informar os usuários sobre o site e os serviços oferecidos, nos reservamos o direito de modificar ou terminar os serviços a qualquer momento, sem aviso prévio. Também os reservamos o direito de modificar uma URL de usuário (endereço de perfil) dentro do site, se assim julgarmos necessário.
</p> 
<h2>3. Participação de menores de 13 anos</h2> 
<p> 
Não é permitido o registro no site de menores de 13 anos. Se você tem entre 13 e 18 anos de idade, por favor, leia este acordo com os seus pais ou responsáveis. Ressaltamos que o site pode oferecer material explícito (tais como linguagem ofensiva e linguagem ou imagens associadas com sexualidade, violência e drogas). Porque o serviço pode fornecer acesso a conteúdo que contenha material explícito, é aconselhável a APROVAÇÃO DOS PAIS para todos os usuários com idades entre 13 e 18 anos. Da mesma maneira, ressaltamos ser impossível verificar se a informação sobre idade fornecida por um usuário é verdadeira.
</p> 
<h2>3.1 Informações sobre segurança</h2> 
<p> 
Se desejar mais informações sobre privacidade e segurança online em geral, sugerimos visitar os seguintes sites de terceiros:
<br>
<br> 
http://www.microsoft.com/brasil/athome/security/children/default.mspx
</br> 
<br> 
http://www.miudossegurosna.net/
</br> 
<br> 
http://guia.mercadolivre.com.br/dicas-seguranca-online-criancas-7-8-18627-VGP
</br> 
</p> 
<h2>4. Proteção da senha</h2> 
<p> 
Qualquer usuário com a sua senha pessoal e o seu nome de usuário será tratado pelo site como você. Nós iremos fornecer a este usuários todos os direitos e privilégios que fornecemos para você. Proteja a sua senha e evite divulgar sua informação de login.
</p> 
<h2>5. Cadastro de artistas</h2> 
<p> 
O Cyloop permite o cadastro de dois tipos de usuário: usuários normais e de artistas. Em alguns países em que o Cyloop opera, somente o cadastro de usuário normal é oferecido. O Cyloop se reserva o direito de decidir se uma conta pode ganhar o status de conta de artista.
</p> 
<h2>5.1 Conteúdo e concessão de direitos</h2> 
<p> 
Como artista, você pode oferecer conteúdo (música e vídeos em formato digital) através do site. Você deve manter cópias de todo o conteúdo que subir para o site, pois não garantimos a preservação destes arquivos. Ao subir o seu conteúdo você garante que (1) possui os direitos autorais para fazê-lo e (2) concede uma licença ao Cyloop para uso dos arquivos. Esta licença isenta o Cyloop de pagamento de royalties ou outros tipos de taxas para você, é sublicenciável, não exclusiva, mundial, e corresponde ao acesso, utilização, cópia (para back-up) e execução dos seus arquivos através do site e seus serviços. Você também concede ao Cyloop o direito de criar obras derivadas desse conteúdo (imagens, reproduções parciais, reproduções de letras, legendas, e outras), para o efeito de promoção do site. Se alguma marca estiver associada ao seu conteúdo disponibilizado através do site, você declara ter direitos autorais sobre a marca e concede a mesma licença descrita acima com relação à marca.
</p> 
<h2>5.2 Proteção do conteúdo</h2> 
<p> 
O Cyloop toma medidas razoáveis para proteger conteúdo original de artistas no site. Mesmo com estas medidas de segurança, não podemos garantir a cópia não-autorizada de conteúdo, que pode eventualmente ocorrer através de “hacking” do site (acesso de forma ilegal ao conteúdo).
</p> 
<h2>5.3 Pagamento de direitos autorais</h2> 
<p> 
A utilização do nosso site para promover músicas e/ou vídeos pode exigir o pagamento de direitos autorais (ao ECAD, por exemplo). Os artistas cadastrados são responsáveis pela identificação e pagamente de todos e quaisquer valores de licenciamento, inclusive ao ECAD.
</p> 
<h2>5.4 Anúncios</h2> 
<p> 
O Cyloop tem o direito de exibir anúncios em suas páginas, incluindo as páginas que contenham o seu conteúdo original (músicas e/ou vídeos).
</p> 
<h2>5.5  Promoção</h2> 
<p> 
Não temos a obrigação de promover nenhum artista e/ou conteúdo disponibilizado através do site. Para promover e ilustrar os nossos serviços podemos, quando desejarmos, postar na homepage e em outras páginas informações públicas do perfil de artistas.
</p> 
<h2>6. Cadastro de usuários</h2> 
<h2>6.1 Privacidade</h2> 
<p> 
Todas as informações que você colocar no seu perfil serão públicas. Observe, por exemplo, que o nome de usuário padrão é o nome que você fornece durante o cadastro. Se você prefere se manter anônimo, não utilize seu nome verdadeiro ou troque seu nome dentro de “Meu Perfil” > “Opções”. Você pode tornar o seu perfil “privado”, entendendo que isso significa apenas que nenhum usuário poderá “seguir” (receber informações sobre sua atividade no site) você.
</p> 
<h2>6.2 Conteúdo e concessão de direitos</h2> 
<p> 
Como usuário, ao disponibilizar informação através do site, você garante que (1) possui os direitos autorais para fazê-lo e (2) concede uma licença ao Cyloop para uso da informação. Esta licença isenta o Cyloop de pagamento de royalties ou outros tipos de taxas para você, é sublicenciável, não exclusiva, mundial, e corresponde ao acesso, utilização, cópia (para back-up) dos seus arquivos através do site e seus serviços. Você também concede ao Cyloop o direito de criar obras derivadas desse conteúdo (imagens, reproduções parciais e outras), para o efeito de promoção do site. Se alguma marca estiver associada ao seu conteúdo disponibilizado através do site, você declara ter direitos autorais sobre a marca e concede a mesma licença descrita acima com relação à marca.
</p> 
<h2>6.3 Proteção do conteúdo</h2> 
<p> 
O Cyloop toma medidas razoáveis para proteger conteúdo original de usuários no site. Mesmo com estas medidas de segurança, não podemos garantir a cópia não-autorizada de conteúdo, que pode eventualmente ocorrer através de “hacking” do site (acesso de forma ilegal ao conteúdo).
</p> 
<h2>6.4 Anúncios</h2> 
<p> 
O Cyloop tem o direito de exibir anúncios em suas páginas, incluindo as páginas que contenham conteúdo criado por usuários.
</p> 
<h2>6.5 Promoção</h2> 
<p> 
O Cyloop tem o direito de exibir anúncios em suas páginas, incluindo as páginas que contenham conteúdo criado por usuários.
</p> 
<h2>7. Uso comercial</h2> 
<p> 
Fica proibido o uso do site para fins comerciais, pelos usuários e artistas cadastrados. O Cyloop pode oferecer aos artistas cadastrados a possibilidade de venda de conteúdo através do site, se desejar e acordar com o artista.
</p> 
<h2>8. Propriedade intelectual</h2> 
<p> 
Todo o material disponível através do Cyloop, quer gerado por usuários ou por artistas, é protegido por direitos autorais. Você concorda em nunca tentar copiar, redistribuir ou obter acesso ilegal a este material, incluindo, e não limitado a, textos, imagens, músicas, vídeos e outros.
</p> 
<h2>9. Código de conduta</h2> 
<p> 
A obediência ao código de conduta é pré-requisito ao uso do site.
</p> 
<p> 
a) Você concorda que não vai tentar interferir com o funcionamento do site através de nenhuma ferramenta ou técnica, inclusive, não limitado, ao uso de “hacking”. Você se compromete a nunca tentar obter acesso ilegal ao site. Você também entende ser proibido o uso de código de HTML, CSS, programação ou outros para modificação da apresentação do site ou acesso não autorizado ao site.
</p> 
<p> 
b) Você concorda em jamais utilizar linguagem ofensiva no site, ou disponibilizar conteúdos obscenos, explícitos, contendo pornografia. Você também renuncia a qualquer uso de linguagem ou representação de ódio a outros.
</p> 
<p> 
c) Você se compromete a não usar o site para publicar informação falsa, que viole a privacidade de terceiros, faça ameaças ou assedie ou ainda permita identificar pessoalmente terceiros.
</p> 
<p> 
d) Você aceita nunca transmitir ou disponibilizar através do site vírus ou outro código de programação que seja nocivo ou invasivo.
</p> 
<p> 
e) Você concorda em nunca utilizar o site para atividades não permitidas pelas leis locais ou para tentar burlar a lei local.
</p> 
<h2>Solicitação de remoção de conteúdo</h2> 
<p> 
Se você identificar no site material ofensivo ou indevido, entre em contato através do email feedback@hoodiny.com e solicite a remoção do conteúdo. O Cyloop não garante a remoção imediata.
</p> 
<h2>10.1 Filtro de conteúdo</h2> 
<p> 
O Cyloop se reserva do direito de filtar e não publicar conteúdo que determinar ofensivo ou indevido, de acordo com estes termos e a nossa política de privacidade.
</p> 
<h2>11. Revogação de acesso ao site</h2> 
<p> 
O Cyloop se reserva o direito de negar acesso ao site a qualquer um de seus usuários ou visitantes, sem aviso prévio, se determinar que houve quebra dos termos aqui especificados e/ou da política de privacidade. O Cyloop pode também reportar para as autoridades usuários que cometerem atividades ilegais no site.
</p> 
<h2>12. Disputas entre usuários</h2> 
<p> 
Qualquer disputa entre usuários é de responsabilidade dos mesmos. O Cyloop não pode monitorar ou ser responsável por qualquer disputa. Se você tem um litígio com outro usuários, você libera o Cyloop de danos decorrentes da disputa.
</p> 
<h2>13. Anúncios e links externos</h2> 
<p> 
O Cyloop se reserva o direito de publicar anúncios em todas as páginas do site. O Cyloop não garante que qualquer site de terceiros anunciado no nosso site está livre de vírus ou outros códigos ou práticas nocivas. O seu acesso ao site de anunciantes e outros links externos ao Cyloop é por sua conta e risco.
</p> 
<h2>14. Garantia</h2> 
<p> 
O Cyloop não garante um site livre de erros, ou com funcionamento ininterrupto. Todos os serviços e conteúdos são oferecido conforme a disponibilidade e podem, eventualmente, não estar disponíveis. Também não somos responsáveis pela correção de informações disponibilizadas por usuários e/ou artistas cadastrados no site.
</p> 
<h2>15. Limitação de responsabilidade</h2> 
<p> 
EM NENHUMA CIRCUNSTÂNCIA, INCLUINDO, MAS NÃO SE LIMITANDO, A QUEBRA DE CONTRATO, AGRAVO OU NEGLIGÊNCIA, O CYLOOP VAI SER RESPONSABILIZADO POR DANOS DIRETOS, INDIRETOS, ESPECIAIS, INCIDENTAIS, PUNITIVOS, EXEMPLARES OU DANOS CONSEQÜENCIAIS (INCLUINDO LUCROS CESSANTES) QUE SURJAM OU SEJAM RELACIONADOS AO SEU USO DO SITE CYLOOP, OS SERVIÇOS, OU PELO CONTEÚDO.
</p> 
<h2>16. Alteração dos termos e condições</h2> 
<p> 
Nos reservamos o direito de alterar os presentes termos e condições sem aviso prévio. Se os termos forem alterados, vamos notificar os usuários através de email e/ou alerta na próxima visita ao site depois da modificação.
</p> 
<h2>17. Mudança de gestão</h2> 
<p> 
Se o Cyloop for comprado por outra empresa, os presentes termos são automaticamente transferidas para o comprador, que fica comprometido a cumprir o acordado nos mesmos.
</p> 
<h2>18. Contato</h2> 
<p> 
Endereço:
<br> 
Ao Presidente
</br> 
<br> 
Hoodiny Entertainment Group, LLC
</br> 
<br> 
555 Washington Avenue, Suite 340
</br> 
<br> 
Miami Beach, FL 33139
</br> 
<br /> 
<a href="mailto:br.msn.cyloop.com@hoodiny.com?subject=terms_and_conditions">info@hoodiny.com</a> 
</p> 
<h2>19 - Data efetiva</h2> 
<p> 
A data efetiva destes Termos é 20 de abril de 2009.
</p> 

      </div>
    </div>
  </div>
  <script>Cufon.replace('.txt');</script>
</div>
