@import url('cab-pie-player.css');

/* contenido */
.contenido{background:url(/images/multitask/fondos/bubbles_interior.jpg) no-repeat center top;overflow:hidden;}
#home .contenido{background:url(/images/multitask/fondos/bubbles.jpg) no-repeat center top #fff;overflow:hidden;}

.cont_columna{margin:10px 13px;}
.izq{float:left;}
.der{float:right;}
.cont_columna.izq{margin-left:0;width:296px;}
.cont_columna.cen{float:left;width:296px;}
.cont_columna.der{margin-right:0;width:296px;}
.cont_columna.doble{width:620px;float:left;margin:0;padding-bottom:20px;}
#usuario .cont_columna.der{width:300px;margin:0;padding-bottom:20px;}

#usuario .contenido .bloque{background:url(/images/multitask/deg_lateral.png) no-repeat scroll 632px 100px transparent;overflow:hidden;}
#mix .contenido .bloque{background:url(/images/multitask/deg_lateral.png) no-repeat scroll 632px 445px transparent;overflow:hidden;}
#mix.contenido .mix_bloque img.portada{background:url(/images/multitask/bg_jewel_case.jpg) no-repeat; padding:2px 2px 2px 14px; width:98px; height:98px;}

/* titulos */
/* DO NOT REMOVE */
/* create overriding styles for the specific page you are working on, these affect the entire site */
.tit_bloque{display:block;height:43px;background:url(/images/multitask/bg_elementos.png) no-repeat -2px -59px;font-size:1.8em;color:#fff;padding:9px 13px 0;position:relative;clear:both;line-height:18px !important;}
.tit_bloque em{font-size:15px;font-weight:normal;color:#888;display:block;margin-top:1px;}
.tit_bloque .bg_fin{width:10px;height:52px;background:url(/images/multitask/bg_elementos.png) no-repeat -938px -59px;position:absolute;right:-3px;top:0;}
.contenido .tit_bloque .bg_fin{background-color:#ededed;right:0;}
/*.tit_bloque.gris{color:#2c2c2c;background-position:-165px -212px;margin-bottom:2px;}*/
.tit_bloque.gris .bg_fin{background-position:-452px -212px;}
#home .cont_columna.cen h2.tit_bloque,#home .cont_columna.der h2.tit_bloque{margin-bottom:5px;}


/* lista de top */
.mod_top.columna{margin-bottom:20px;}
.mod_top .f_ordenar{background:url(/images/multitask/bg_elementos.png) no-repeat -615px -2px;padding:6px 6px 6px 0;height:28px;}
.mod_top h2.tit_bloque{margin-bottom:5px;}
.cont_columna.doble .f_ordenar{background:url(/images/multitask/bg_elementos.png) no-repeat -3px -439px;padding:6px 4px 6px 0;height:28px;}
.f_ordenar select{border:1px solid #cdcdcd;background:#fff;padding:1px;width:180px;float:right;}
.mod_top li{display:block;text-align:left;background:url(/images/multitask/bg_listado.png) repeat-x 0 bottom;padding:1px 0;}
.mod_top .datos{width:138px;padding:8px 0 8px 10px;float:left;}
.datos h3{font-size:1.3em;margin-bottom:3px;}
.datos p{font-size:11px;color:#636363;}
.avatar{float:left;}
.mod_top .avatar{width:47px;height:47px;}
.ord{display:block;width:27px;height:15px;background:url(/images/multitask/bg_ord.gif) repeat-x 0 0 #fff;text-align:center;padding-top:10px;font-size:11px;color:#636363;float:left;}
.num_mixes{font-size:11px;color:#999;display:block;width:60px;float:right;margin-top:15px;padding-right:10px;text-align:right;}
.num_mixes strong{font-size:13px;color:#636363;font-weight:bold;}

/* links */
.link_rojo{color:#e40015;}
.link_gris{color:#636363;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.link_decor{text-decoration:underline;}
.link_decor:hover{text-decoration:none;}
a.btn_grande:hover{text-decoration:none;}
a.btn_rojo:hover{text-decoration:none;}
a.btn_amarillo:hover{text-decoration:none;}
strong{font-weight:bold;}
a.btn_rojo{background:url(/images/multitask/bg_elementos.png) no-repeat -165px -127px;position:relative;padding:8px 25px 5px;display:block;font-size:13px;font-weight:bold;color:#fff;margin-bottom:10px;height:15px;}
a.btn_rojo .bg_fin{background:url(/images/multitask/bg_elementos.png) no-repeat -553px -127px #fcfcfc;display:block;height:28px;width:10px;position:absolute;right:0;top:0;}
a.btn_rojo.btn_rojo_grande{width:90px;float:right;text-align:center;}
a.btn_rojo.activo{background:url(/images/multitask/bg_elementos.png) no-repeat -165px -491px;}
a.btn_rojo.activo .bg_fin{background:url(/images/multitask/bg_elementos.png) no-repeat -553px -491px #fcfcfc;}
a.btn_amarillo{background:url(/images/multitask/bg_elementos.png) no-repeat -165px -167px;position:relative;padding:9px 25px 8px;display:block;font-size:1.5em;font-weight:bold;color:#000;height:13px;}
a.btn_amarillo .bg_fin{background:url(/images/multitask/bg_elementos.png) no-repeat -553px -167px #e7e7e7;display:block;height:30px;width:10px;position:absolute;right:0;top:0;}
a.ico_mas{text-align:right;font-size:11px;color:#000;padding-right:10px;float:right;margin-top:8px;position:relative;clear:both;display:block;width:50%;_width:100px;}
a.ico_mas .bg_flecha{display:block;width:4px;height:6px;background:url(/images/multitask/iconografia.png) no-repeat 0 -287px;position:absolute;bottom:2px;right:0;}

/* forms */
.texto,textarea,select{border:1px solid #cdcdcd;background:#fff;font-size:12px;color:#636363;font-family:Arial,sans-serif;padding:1px;}
input.btn_rojo{width:135px;height:28px;background:url(/images/multitask/bg_elementos.png) no-repeat -597px -127px;text-align:center;color:#fff;border:0;float:right;font-weight:bold;font-size:1.5em;cursor:pointer;}
input.btn_gris{width:130px;height:28px;background:url(/images/multitask/bg_elementos.png) no-repeat -597px -166px;text-align:center;color:#fff;border:0;float:right;font-weight:bold;font-size:1.5em;cursor:pointer;}

/* botellas puntuacion */
.punt_botellas{width:58px;height:19px;float:right;margin:15px 5px 0 0;}
.punt_botellas span{display:block;width:7px;height:19px;float:left;margin:0 2px;background-image:url(/images/multitask/iconografia.png);background-repeat:no-repeat;}
.punt_botellas .llena{background-position:-16px -295px;}
.punt_botellas .vacia{background-position:-25px -295px;}

/* rotatore */
.rotatore{padding-bottom:37px;padding-top:23px;}
.black_banner{background:none repeat scroll 0 0 #000000;padding:2px;height:269px;}
.banner_flash_box{float:left;width:616px;}
#home .open_happiness_box{float:right;width:300px;padding:8px;}
.open_happiness_box{width:296px;overflow:hidden;z-index:1;}

/* badges */
.badges{height:290px;background:url(/images/multitask/bg_badges.png) no-repeat center top;padding-top:30px;position:relative;}
.premios{overflow:hidden;padding-left:1px;padding-top:7px;}
.premios li{width:155px;height:193px;float:left;background:url(/images/multitask/bg_elementos.png) no-repeat -1px -122px;text-align:center;position:relative;margin-right:3px;padding-top:15px;}
.premios li .medalla{}
.premios li.ultimo{margin:0;}
.premios h3{font-size:1.3em;line-height:1.2em;font-weight:bold;text-align:center;padding:10px 7px;}
.ganador{width:147px;height:60px;position:absolute;bottom:4px;left:0;text-align:left;}
.ganador .avatar{float:left;margin:5px 8px;}
.ganador h4{font-size:1.3em;width:80px;float:left;margin:10px 0 5px;}
.ganador p{font-size:11px;color:#636363;width:80px;float:left;}
.pestanias{padding-top:8px;}
.pestanias li{background:url(/images/multitask/bg_elementos.png) no-repeat -309px -1px;width:260px;height:36px;float:left;margin-right:29px;padding:12px 18px 0;}
.pestanias li.ultima{margin-right:0;}
.pestanias li a{text-decoration:none;font-size:1.5em;color:#888;}
.pestanias li a strong{font-size:18px;font-weight:bold;color:#e1e1e1;display:block;}

/* USUARIO */

/*menu de usuario*/
.usuario_menu{background:url(/images/multitask/bg_navegacion.png) no-repeat center 0;margin:25px auto 5px;float:left;width:100%;height:54px;padding:3px 0 0;position:relative;}
.usuario_menu li{display:inline;float:left;background:url(/images/multitask/separador.gif) no-repeat left center;padding:0 0 0 1px;}
.usuario_menu li:hover,.usuario_menu li.activo{background:url(/images/multitask/separador_activo.gif) no-repeat scroll left bottom;}
.usuario_menu li a.txt{color:#4a4142;font-size:1.5em;font-weight:bold;text-decoration:none;padding:20px 15px 16px 12px;display:inline-block;}
.usuario_menu li a.txt:hover,.usuario_menu li.activo a.txt{background:url(/images/multitask/bg_nav_activo.gif) repeat-x scroll left top;}
.usuario_menu li.ultimo{padding:0;background:none;}
.usuario_menu .btn_rojo{position:absolute;top:15px;right:15px;}
.usuario_menu .btn_rojo .bg_fin,.usuario_menu .btn_rojo.activo .bg_fin{background-color:#dadada;}
.usuario_menu li.pri{background:none;padding-left:2px;}
.usuario_menu li.ult{padding-right:1px;}

/*ficha de usuario*/
.usuario_ficha{width:627px;overflow:hidden;float:left;position:relative;margin-left:-3px;margin-bottom:16px;}
.ficha_top{width:627px;height:10px;background:url(/images/multitask/bg_ficha.png) no-repeat 0 -10px;}
.ficha_cont{width:600px;background:url(/images/multitask/bg_ficha.png) no-repeat 0 -20px;padding:5px 15px;overflow:hidden;position:relative;}
.ficha_pie{width:627px;height:10px;background:url(/images/multitask/bg_ficha.png) no-repeat 0 0;}
.usuario_ficha .avatar{float:left;}
.usuario_ficha .datos{float:left;padding:12px 0 5px 20px;width:340px;position:relative;}
.usuario_ficha .datos h2{font-size:2.6em;line-height:24px;font-weight:bold;color:#000;width:240px;}
.usuario_ficha .datos p{font-size:1.3em;color:#2c2c2c;line-height:1.2em;}
.usuario_ficha .datos .p_pais{color:#d91124;}
.usuario_ficha .totales{padding-top:20px;width:180px;overflow:hidden;}
.usuario_ficha .totales li{float:left;width:100%;}
.usuario_ficha .totales span{background:url(/images/multitask/bg_detalle_ficha.gif) repeat-x;display:block;font-size:1.4em;color:#828282;width:100px;padding:10px 5px;float:left;}
.usuario_ficha .totales a{color:#d60015;font-size:2em;font-weight:bold;display:block;float:left;padding:7px 10px 0;}
.usuario_ficha .btn_rojo{position:absolute;right:0;bottom:0;}
.usuario_ficha .mas_info{position:absolute;top:5px;right:16px;font-weight:bold;color:#000;padding-right:11px;z-index:3;}
.usuario_ficha .mas_info .bg_flecha{width:6px;height:4px;display:block;background:url(/images/multitask/iconografia.png) no-repeat -12px -287px;position:absolute;bottom:2px;right:0;}
.usuario_ficha .menos_info .bg_flecha{background:url(/images/multitask/iconografia.png) no-repeat -20px -287px;}
/*ficha de usuario plegada*/
.ficha_plegada .datos{width:534px;padding:0 0 0 15px;}
.ficha_plegada .datos h2{line-height:20px;width:380px;}
.ficha_plegada .avatar{width:50px;height:50px;}
.ficha_plegada .totales{display:none;}
.ficha_plegada .btn_rojo{margin:0;}

/*ultimos mixes*/
.mod_mixes{overflow:hidden;margin-bottom:30px;clear:both;position:relative;}
.mod_mixes h2{margin-bottom:10px;}

/*ultimos comentarios*/
.comments{background:url(/images/multitask/bg_listado.png) repeat-x 0 bottom #fff;height:160px;padding:10px 0 0 10px;position:relative;clear:both;}
.comments_int{float:left;width:430px;padding:10px 10px 0 15px;}
.comments_int .punt_botellas{margin-top:0;}
.comments_int li{width:100%;font-size:11px;color:#636363;line-height:14px;;}
.comments_int .fecha{color:#999;}
.comments_int .comentario{font-size:1.2em;margin:5px 0;}
.comments_int .avatar_item{position:absolute;bottom:10px;left:170px;}
.comments_int .avatar_item img{float:left;width:50px;height:50px;}
.comments_int .avatar_item p{float:left;font-size:11px;margin:20px 0 0 10px;}

/*columna derecha*/
#usuario .open_happiness_box{padding:5px 0 0;margin-bottom:14px;}

.mod_mixes_comentarios .no_resultados{background:#fff;}
.mod_badges_lista .no_resultados{background:#fff;}
.mod_comentarios .no_resultados{background:#fff;}
.mod_actividad .no_resultados{background:#fff;}
.mod_seguidores .no_resultados{background:#fff;}

/* modulo mixes */
.mod_mixes_comentarios h2{margin-bottom:0;}
.mixes_item{height:auto;overflow:hidden;clear:both;background-color:#fff;}
.mixes_item .artist_box{margin:0 0 30px 0;}
.mixes_item h3{font-size:1.8em;color:#343434;margin-bottom:8px;}
.mixes_item p.incluye{margin-bottom:30px;line-height:1.2em;font-size:11px;}
.mixes_item .comments_int{padding-top:4px;padding-bottom:20px;}
.mixes_item .avatar_item{margin-bottom:15px;position:relative;overflow:hidden;top:0;left:0;}
.mixes_item .avatar_item .punt_botellas{position:absolute;right:0;top:0;margin:0;}
.mixes_item .avatar_item img{margin-right:15px;}
.mixes_item .avatar_item ul{width:360px;float:left;}

/* modulo badges iconos */
.mod_badges{position:relative;margin-bottom:20px;overflow:hidden;}
.mod_badges .mod_contenedor{padding:0 10px;position:relative;}

/* modulo badges lista */
.mod_badges_lista{}
.mod_badges_lista .tit_bloque{margin-bottom:0;}
.big_badges_list{}
.big_badges_list li{clear:both;overflow:hidden;padding:8px 0 18px 14px;background:url(/images/multitask/bg_listado.png) repeat-x scroll 0 bottom #fff;}
.big_badges_list .avatar{float:left;}
.big_badges_list .text{width:510px !important;float:left !important;padding:10px 0 0 15px;}
.big_badges_list h3{font-size:1.8em;color:#343434;margin-bottom:5px;}
.big_badges_list .grey_text{font-size:1.2em;line-height:1.4em;color:#828282;}
.big_badges_list .grey_text a{color:#d60015;}

/* modulo badges detalle */
.mod_badges_ampliado{margin-bottom:20px;}
.mod_badges_ampliado .tit_bloque{margin-bottom:0;}
.badge_detail{overflow:hidden;padding:10px 15px 30px;background:url(/images/multitask/bg_listado.png) repeat-x scroll 0 bottom #fff;}
.badge_detail .detail_img{float:left;}
.badge_detail .detail_text{width:350px;float:right;padding-top:20px;}
.badge_detail h3{font-size:2.2em;color:#343434;margin-bottom:8px;}
.badge_detail h4{font-size:1.3em;color:#828282;margin-bottom:15px;}
.badge_detail .avatar.small{float:left;}
.badge_detail .small_text{float:left;width:280px;padding:4px 10px 0;font-size:1.2em;color:#828282;}
.badge_detail .small_text a{color:#d60015;}

/* modulo badges ganadores */
.mod_badges_ganadores{overflow:hidden;padding:15px 1px;}
.mod_badges_ganadores h2{margin-bottom:15px;}
.mod_badges_ganadores .small_thumb{float:left;width:50px;padding:0 9px;height:100px;overflow:hidden;}
.mod_badges_ganadores .small_thumb a{display:block;color:#d60015;}
.mod_badges_ganadores .small_thumb .avatar{}

/* modulo seguidores y siguiendo */
.mod_seguidores{margin-bottom:20px;}
.mod_seguidores .tit_bloque{margin-bottom:0;}
.mod_seguidores .no_resultados{background:#fff;}
.followers_list .follow_user{background:url(/images/multitask/bg_listado.png) repeat-x 0 bottom #fff;padding:4px 10px 6px;position:relative;clear:both;overflow:hidden;height:50px;}
.followers_list .follower_text a,.followers_list .follower_data li a{display:block;font-size:13px;color:#e40015;margin:0 0 5px;}
.followers_list .avatar{float:left;}
.followers_list .btn_rojo{margin-top:10px;}
.followers_list .follower_text{width:193px;float:left;padding:12px 10px 0;}
.followers_list .follower_text span,.followers_list .follower_data li{font-size:11px;color:#636363;}
.followers_list .follower_data{width:165px;float:left;padding-top:12px;}
.followers_list .follower_data li{float:left;padding-right:10px;}

/* paginacion */
.paginacion{width:360px;margin:20px auto;clear:both;}
.paginacion li{text-align:center;margin:0 1px;display:block;float:left;}
.paginacion li.res{display:block;width:30px;height:12px;padding:6px 0;}
.paginacion li a{display:block;width:30px;height:12px;padding:6px 0;color:#ff0000;font-size:1.2em;background:url(/images/multitask/iconografia.png) no-repeat 0 -206px;}
.paginacion li.activo{width:30px;height:12px;padding:6px 0;color:#343434;font-size:1.2em;}
.paginacion li.activo a{background:none;}
.paginacion li.ant a,.paginacion li.sig a{background-position:0 -180px;color:#fff;font-weight:bold;}

/* MIXES */
#mixes .badges{background:none;padding-bottom:130px;}
#mixes .contenido .bloque{background:url(/images/multitask/bg_container.png) no-repeat center top;overflow:hidden;padding:37px 40px 0;}
#mixes .cont_columna.der{margin:0;}
#mixes .cont_columna.der .open_happiness_box{margin-bottom:20px;}
#mixes .cont_columna.doble{background:url(/images/multitask/deg_lateral_min.png) no-repeat scroll 625px 540px transparent;width:642px;}

/* top artistas y djs en portada mixes */
.mod_topartistas{width:298px;float:left;margin-right:19px;}
.mod_topdjs{width:298px;float:left;}
.mod_topartistas .tit_bloque,
.mod_topdjs .tit_bloque{margin-bottom:6px;}
.lista_tops li{display:block;text-align:left;background:url(/images/multitask/bg_listado.png) repeat-x 0 bottom;padding:1px 0;}
.lista_tops .datos{width:145px;padding:8px 0 8px 10px;float:left;}
.lista_tops h3{font-size:1.3em;margin-bottom:3px;}
.lista_tops p{font-size:11px;color:#636363;}
.lista_tops .avatar{width:47px;height:47px;}
.lista_tops .ord{display:block;width:27px;height:15px;background:url(/images/multitask/bg_ord.gif) repeat-x 0 0 #fff;text-align:center;padding-top:10px;font-size:11px;color:#636363;float:left;}
.lista_tops .num_mixes{font-size:11px;color:#999;display:block;width:50px;float:right;margin-top:15px;padding-right:10px;text-align:right;}
.lista_tops .num_mixes strong{font-size:13px;color:#636363;font-weight:bold;}


/* clasificacion mixes */
.mod_topmixes{overflow:hidden;padding-bottom:30px;}
.mod_topmixes h2{width:592px;}
.clasif_mixes{width:200px;height:150px;overflow:hidden;float:left;margin:3px;}
.clasif_mixes .num_mixes{display:block;width:50px;height:138px;background:url(/images/multitask/bg_nummixes.gif) repeat-x 0 0;float:left;margin:0;font-size:3.6em;font-weight:bold;color:#636363;text-align:center;padding:12px 0 0;}
.clasif_mixes .artist_box{float:right;margin:0;}


/* MIX DETALLE */
#mix .cont_columna.doble{margin-top:10px;}

/* capa slide mix */
.mix_bloque{width:900px;height:221px;background:url(/images/multitask/bg_bloquemix.png) no-repeat 0 0;padding:26px;position:relative;left:-3px;top:-3px;overflow:hidden;margin-bottom:15px;}
.mix_visible{width:900px;height:221px;overflow:hidden;position:absolute;}
.mix_sub{width:900px;height:221px;position:absolute;left:900px;color:#343434;}
#sub_home{position:absolute;left:0;}
/* capa informacion */
.mix_sub .mix_contenido{width:599px;height:221px;float:left;position:relative;padding-right:23px;}
.mix_sub .accion{font-size:12px;}
.mix_sub h2{font-size:18px;line-height:16px;}
#sub_home .accion{width:300px;}
#sub_home h2{width:300px;}
.mix_sub .mix_valorar{width:270px;position:absolute;top:0;right:23px;}
.mix_sub .rating_bottles{width:150px;float:right;overflow:hidden;padding-right:10px;border-right:1px dotted #818181;}
.mix_sub .rating_bottles strong{font-size:11px;font-weight:normal;float:right;padding:9px 8px 0;}
.mix_sub .rating_inputs{float:right;}
.mix_sub .n_comentarios{float:right;padding:6px 0 0 8px;color:#e61124;text-decoration:underline;font-size:12px;}
.mix_sub .n_comentarios:hover{text-decoration:none;}
.mix_sub .portada{float:left;}
.mix_sub .mix_iframe{margin-top:18px;position:relative;}
.mix_sub .mix_iframe .portada{margin-right:25px;}
.mix_sub .mix_iframe .mix_incluidos{width:425px;float:left;padding-top:3px;}
.mix_sub .mix_incluidos p{font-size:12px;margin-bottom:10px;}
.mix_sub .mix_incluidos ul li{margin-bottom:6px;}
.mix_sub .mix_incluidos ul{margin-bottom:18px;}
.mix_sub .mix_incluidos a{font-size:12px;color:#e61124;}
.mix_sub .mix_lateral{width:241px;height:221px;background:url(/images/multitask/bg_lateralmix.png) repeat-y 0 0;float:left;padding-left:37px;}
.mix_sub .mix_abajo{position:absolute;bottom:0;right:0;width:241px;}
.mix_sub .mix_abajo p{font-size:13px;margin-bottom:12px;}
.mix_sub .mix_abajo .btn_amarillo{}
/* capa copiar */
#sub_copiar .mix_contenido,
#sub_compartir .mix_contenido{width:600px;padding-left:37px;padding-right:0;background:url(/images/multitask/bg_lateralmix.png) repeat-y 0 0;}
#sub_copiar .mix_lateral,
#sub_compartir .mix_lateral{width:240px;padding-right:23px;padding-left:0;background:none;}
#sub_copiar .mix_lateral ul.error_list,
#sub_compartir .mix_lateral ul.error_list{color:#E61124; margin-top:10px; font-size:13px;, margin:20px 0 0 10px;}
#sub_copiar .mix_lateral ul.error_list li,
#sub_compartir .mix_lateral ul.error_list li{margin-bottom:10px;}
#sub_copiar .portada{margin-top:19px;}
#sub_copiar .mix_incluidos{min-height:92px;width:452px;padding-left:16px;border-left:1px solid #cacaca;margin-left:12px;float:left;margin-top:19px;padding-top:10px;}
#sub_copiar .mix_incluidos p,
#sub_copiar .mix_incluidos li{font-size:11px;margin:6px 0;}
#sub_copiar .mix_incluidos a{font-size:11px;}
#sub_copiar .mix_incluidos .link_gris{color:#343434;}
#sub_copiar .mix_incluidos h3 {color:#E61124;font-size:13px;}
.mix_sub .f_copiar{clear:both;padding-top:10px;}
.mix_sub .f_copiar label{display:block;margin-bottom:6px;}
.mix_sub .f_copiar label span{font-size:13px;padding-top:5px;display:block;width:145px;float:left;}
.mix_sub .f_copiar label span.error{color:#E61124;}
.mix_sub .f_copiar label input{width:448px;height:21px;float:right;background:#fff;border:1px solid #ccc;}
.mix_sub .f_copiar .btn_gris{margin-right:10px;}
.mix_sub .f_copiar .btn_gris,
.mix_sub .f_copiar .btn_rojo{font-size:13px;font-family:Arial,sans-serif;}
/* capa compartir */
#sub_compartir{}
#sub_compartir .mix_izq{width:263px;float:left;}
#sub_compartir .iconos{padding-top:18px;}
#sub_compartir .iconos li{margin-bottom:6px;}
#sub_compartir .iconos a{display:block;height:20px;padding:7px 0 0 35px;text-decoration:none;font-size:12px;color:#636363;}
#sub_compartir .iconos a.btn_facebook{background:url(/images/multitask/iconografia.png) no-repeat 0 -316px;}
#sub_compartir .iconos a.btn_orkut{background:url(/images/multitask/iconografia.png) no-repeat 0 -372px;}
#sub_compartir .iconos a.btn_twitter{background:url(/images/multitask/iconografia.png) no-repeat 0 -345px;}
#sub_compartir .mix_der{width:322px;padding-left:14px;float:left;border-left:1px dotted #cacaca;}
#sub_compartir .mix_der h2{margin-bottom:10px;}
#sub_compartir .mix_der h2 span{font-size:12px;color:#979797;}
#sub_compartir .mix_der p{font-size:12px;color:#979797;}
#sub_compartir .mix_der p.accion{color:#000;}
.mix_sub .f_compartir{color:#979797;padding-top:5px;}
.mix_sub .f_compartir label{display:block;margin-bottom:6px;}
.mix_sub .f_compartir label span{font-size:12px;padding-top:5px;display:block;width:52px;float:left;}
.mix_sub .f_compartir label span.error{color:#E61124;}
.mix_sub .f_compartir label input{width:265px;height:18px;float:right;background:#fff;border:1px solid #ccc;}
.mix_sub .f_compartir label textarea{width:265px;height:80px;float:right;background:#fff;border:1px solid #ccc;}
.mix_sub .f_compartir .btn_gris,
.mix_sub .f_compartir .btn_rojo{font-size:13px;font-family:Arial,sans-serif;}

/* modulo perfil */
.mod_perfil{position:relative;}
.mod_perfil .tit_bloque{margin-bottom:0;z-index:6;}
.mod_perfil .usuario_ficha{top:-10px;z-index:3;}
.mod_perfil .ficha_cont{padding:10px 15px 5px;}

/* comentarios */
.mod_comentarios .tit_bloque{margin-bottom:0;}
.mod_comentarios h3,
.mod_actividad h3{font-size:1.8em;font-weight:bold;color:#2c2c2c;margin:15px 0 10px 15px;width:350px;float:left;}
.f_comentarios{background:#ececec;padding:10px 25px;height:150px;-moz-border-radius:5px;position:relative;margin-bottom:5px;clear:both;}
.f_comentarios .caracteres{font-size:1.2em;color:#979797;text-align:right;margin-bottom:6px;}
.f_comentarios .caracteres span{font-weight:bold;}
.f_comentarios .caracteres span.error{color:#D60015;}
.f_comentarios .bocadillo{border:0;background:url(/images/multitask/bg_elementos.png) no-repeat -3px -340px;width:463px;height:82px;padding:5px 5px 5px 25px;float:right;margin-bottom:10px;}
.f_comentarios .network_text{width:187px;float:left;top:133px;left:127px;position:absolute;}
.f_comentarios .network_text strong{width:125px;float:left;font-size:1.2em;color:#979797;padding:7px 0 0 2px;}
.f_comentarios .compartir_button{line-height:18px;width:210px;background-position:;padding:7px 0;height:auto;background:url(/images/multitask/bg_elementos.png) no-repeat -750px -127px;text-align:center;color:#fff;border:0;float:right;font-weight:bold;font-size:1.3em;font-family:Arial,sans-serif;cursor:pointer;}
.f_comentarios .compartir_button:hover{text-decoration:none;}
.f_comentarios .rating{position:absolute;bottom:16px;left:122px;clear:both;display:block;height:20px;left:122px;width:175px;}
.f_comentarios .rating strong{float:left;padding-top:6px;padding-right:15px;font-size:12px;font-weight:normal;color:#979797;}
.mod_comentarios .f_ordenar{clear:both;}
.mod_comentarios .f_ordenar .n_comentarios{font-size:15px;font-weight:normal;color:#888;width:200px;float:left;padding:2px 0 0 22px;}
.mod_comentarios .f_ordenar .n_comentarios strong{font-size:18px;font-weight:bold;color:#2c2c2c;}
.mod_comentarios .botones_like{width:220px;float:right;padding-top:11px;padding-bottom:8px;}

.mod_eliminar .close_btn{position:absolute;top:0;right:0;width:8px;height:8px;background:url(/images/multitask/iconografia.png) 0 -410px;overflow:hidden;text-indent:-999em;}
.mod_eliminar .rating{position:absolute;top:12px;right:0;}
.mod_eliminar .comments_list li .rating{top:12px;}

/* actividad */
.mod_actividad{margin-bottom:20px;}
.mod_actividad .tit_bloque{margin-bottom:0;}
.mod_actividad .comments_list{}
.comments_list li{background:url(/images/multitask/bg_listado.png) repeat-x scroll left bottom #fff;padding:20px 15px;overflow:hidden;}
.comments_list .avatar{float:left;}
.comments_list .comment_text{float:left;padding-left:10px;width:530px;position:relative;}
.comments_list li .nombre{font-size:11px;}
.comments_list li a{color:#e61125;text-decoration:underline;}
.comments_list li a:hover{text-decoration:none;}
.comments_list li .grey{font-size:11px;color:#999999;}
.comments_list li p{font-size:1.2em;color:#828282;clear:both;margin-top:10px;}
.comments_list li p.data{font-size:11px;font-weight:bold;color:#636363;margin-top:2px;}
.comments_list li p.data a{font-weight:normal;}
.comments_list li .data .grey{display:block;font-size:11px;font-weight:normal;color:#999;}
.comments_list li .rating{position:absolute;right:0;top:0;}

/* top mixes en dos columnas */
.doble .mod_top,.mod_masmixes{clear:both;padding-top:24px;}
.doble .mod_top .datos,.mod_masmixes .datos{width:237px;position:relative;}
.doble .mod_top .datos .rating,.mod_masmixes .datos .rating{position:absolute;top:8px;right:0;}
.doble .mod_top .datos h3,.mod_masmixes .datos h3,
.doble .mod_top .datos p,.mod_mas_mixes .datos p, .mod_masmixes .datos p{width:185px;}
.mixes.columna_izq{width:305px;float:left;margin-right:9px;}
.mixes.columna_der{width:305px;float:left;}

/* ESTILOS QUE PERMANECEN */
/* mix overlay */
.artist_box{width:150px;height:150px;position:relative;float:left;margin:0 5px 5px 0;zoom:1;}
.artist_box.last_box{float:right;margin-right:0px;}
.artist_box .overlay{position:absolute;bottom:0px;left:0px;background:url(/images/multitask/overlay.png) repeat left top;width:100%;color:#fff;z-index:3;}
.artist_box .overlay .visible{color:#00a5f8;padding:5px 8px;font-weight:bold;height:30px;zoom:1;}
.artist_box .play_button{float:right;}
.artist_box .hidden{padding:10px 8px 0px;height:100px;font-size:11px;line-height:14px;display:none;}
.artist_box.hover .hidden{display:block;}
.artist_box .artist_icon{float:left;border:solid 2px #fff;margin-right:6px;margin-bottom:14px;}
.artist_box .rating{display:block;}
.artist_box .tag_links{clear:both;}
.artist_box .overlay .hidden.fh{height:140px;}
.artist_box .punt_botellas{float:left;margin-top:2px;}
.artist_box a{color:#FF0014;font-size:12px;}
.artist_box .overlay .visible.fh{height:30px;}
.artist_box .overlay .visible{color:#00A5F8;font-weight:bold;height:30px;padding:5px 8px;}
.artist_box .overlay .visible.fh .play_button{position:relative;top:2px;}
.artist_box .artist_icon{float:left;border:solid 2px #fff;margin-right:6px;margin-bottom:14px;}
.artist_box .avatar.large{border:0;height:150px;padding:0;width:150px;vertical-align:top;}
.artist_box .tag_links{line-height:20px;}
.artist_box .box_buttons{bottom:5px;position:absolute;right:8px;}
/* puntuacion botellas */
div.star-rating{float:left;width:9px;height:20px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.star-rating,div.star-rating a{background:url(/images/multitask/iconografia.png) no-repeat -16px -295px}
div.star-rating a{display:block;width:16px;height:100%;background-position:-25px -295px;border:0}
div.star-rating-on a{background-position:-16px -295px;}
div.star-rating-hover a{background-position:-25px -295px;}
div.star-rating-readonly a{cursor:default;}
div.star-rating{background:transparent;overflow:hidden;}
div.star-rating-readonly a{cursor:default !important;}

.albums_item{background:url(/images/multitask/bg_listado.png) repeat-x 0 bottom #fff;padding:8px 0 15px 10px;position:relative;overflow:hidden;_height:240px;}
.albums_item .reviews{float:left;width:418px;padding:8px 20px 0 15px;font-size:11px;color:#636363;line-height:14px;position:relative;}
.albums_item .reviews .close_btn{position:absolute;top:12px;right:18px;width:8px;height:8px;background:url(/images/multitask/iconografia.png) 0 -410px;overflow:hidden;text-indent:-999em;}
.albums_item .reviews .rating{position:absolute;top:12px;right:18px;}
.albums_item .reviews .grey{display:block;color:#999;}
.albums_item .reviews .rev_text{font-size:12px;padding:5px 0;height:40px;overflow:hidden;}
.albums_item .review_item{padding:12px 0 8px;overflow:hidden;position:relative;}
.albums_item .review_item .avatar{float:left;margin-right:10px;}
.albums_item .review_item .review_creator_large{float:left;}
.albums_item .review_item .review_creator_large strong{}
.albums_item .review_creator_large #not_following,
.albums_item .review_creator_large #following{padding-top:3px;}
.albums_item .reviews a{color:#E40015;text-decoration:underline;}
.albums_item .reviews a:hover{text-decoration:none;}
.albums_item .title{margin-bottom:20px;}
.albums_item .title h3{font-size:18px;color:#343434;margin-bottom:8px;}
.albums_item .reviews .review_item .rating{right:0;}
.albums_item .review_text{font-size:12px;}
.albums_item .reviews .incluye{overflow:hidden;}
.albums_item .reviews .incluye li{float:left;font-weight:bold;}
.albums_item .reviews .incluye li.lista_mixes{width:370px;padding-left:5px;font-weight:normal;}
.albums_item .reviews a.ico_mas{color:#343434;text-decoration:none;font-size:11px;margin-top:15px;}
.albums_item .reviews a.ico_mas:hover{text-decoration:underline;}
.albums_item .no_resultados{padding:15px;}
.green_highlight{background:#22AE13;color:#fff;padding:0 2px;}
/* comentarios usuario privado */
.albums_item .review_edit .rating{top:24px;}
.albums_item .review_edit .rev_text{padding:9px 0 1px;}

/* BUSCADOR */
#busqueda .contenido .bloque{background:url(/images/multitask/deg_lateral.png) no-repeat scroll 632px 100px transparent;overflow:hidden;}
#busqueda .cont_columna.der{margin-top:0;}
#busqueda .open_happiness_box{margin-bottom:20px;}

#busqueda .mod_mixes h2{margin-bottom:0;}
#busqueda .albums_item .title{padding-bottom:10px;margin-bottom:0;width:370px;}
#busqueda .albums_item .title h3{margin-bottom:2px;line-height:18px;}
#busqueda .albums_item .title .grey{margin-bottom:7px;}
#busqueda .albums_item .title p{margin-bottom:6px;}
#busqueda .albums_item .review_item{padding:0;}
#busqueda .albums_item .reviews .rating{right:7px;top:16px;}

.buscador_big{width:946px;height:53px;background:url(/images/multitask/bg_elementos.png) no-repeat 0 -638px;position:relative;left:-2px;margin:27px 0 12px;}
.buscador_big .text_buscar{display:block;width:563px;height:18px;background:url(/images/multitask/bg_elementos.png) no-repeat 0 -695px;border:0;position:absolute;top:12px;left:11px;z-index:3;padding:5px 5px 5px 43px;}
.buscador_big .lupa_buscar{display:block;width:24px;height:15px;background:url(/images/multitask/iconografia.png) no-repeat 2px -425px;text-indent:-999em;overflow:hidden;border-right:1px solid #333;position:absolute;left:20px;top:20px;z-index:6;}
.buscador_big .btn_buscar{width:135px;height:28px;border:0;background:#fff;position:absolute;top:12px;background:url(/images/multitask/bg_elementos.png) no-repeat -750px -166px;font-weight:bold;color:#999;font-family:Arial,sans-serif;cursor:pointer;}
.buscador_big .btn_buscar.activo{background-position:-598px -127px;color:#fff;}
.buscador_big .btn_bususuarios{right:157px;}
.buscador_big .btn_busmixes{right:13px;}

/* MODULOS */
/* botella de tags */
.mod_emociones{padding-top:4px;}
.mod_tags{position:relative;width:296px;height:555px;line-height:2.1em;}
.tags_botella{padding:70px 45px 0 30px;position:absolute;z-index:1;text-align:center;bottom:22px;}
.tags_botella_trans{width:297px;height:555px;background:url(/images/multitask/bg_botella_trans.png) no-repeat 0 0;position:absolute;top:-26px;left:0;z-index:2;}
.tags_botella.outer { 
  z-index:3; 
  position:absolute; 
  filter: alpha(opacity=20);
}
.tags_botella.outer a{opacity:.2;}
.mod_tags a{color:#e12422;text-decoration:none;}
.mod_tags a:hover{color:#333;opacity:1;}
.mod_tags .tag_tam1{font-size:1.4em;}
.mod_tags .tag_tam2{font-size:1.6em;}
.mod_tags .tag_tam3{font-size:1.8em;}
.mod_tags .tag_tam4{font-size:2.2em;}
/* modulo seguidores */
.mod_siguiendo{overflow:hidden;margin-bottom:22px;position:relative;}
.thumb_small{width:50px;float:left;margin:5px;}
.thumb_small.ultimo{margin-left:0;}
.thumb_small img{width:50px;height:50px;}
.thumb_small a{display:block;color:#E61125;font-size:11px;line-height:1.2em;}
/* modulo top mixes */
.cont_columna.der .mod_top{margin-bottom:25px;padding-bottom:25px;}
/* modulo actividad reciente */
.network_update{margin-bottom:0;}
.mod_actividad{margin-bottom:20px;}
.recent_activity_list{padding:10px 14px;}
.recent_activity_list li{width:100%;font-size:1.2em;color:#636363;line-height:14px;color:#828282;margin-top:5px ;}
.recent_activity_list li a{color:#e61125;text-decoration:underline;}
.recent_activity_list li a:hover{text-decoration:none;}
.recent_activity_list li .grey{font-size:11px;color:#999;}
.recent_activity_list li p{clear:both;margin-top:8px;}
/* sin resultados */
.no_resultados{font-size:1.8em;font-weight:bold;line-height:1.2em;color:#828282;padding:30px 15px;}
/* modulo badges */
.mod_badges_col{width:300px;}
.mod_badges_col .medalla{margin:0;display:block;float:left;}
/* modulo top mixes */
.mod_top.columna .datos{width:230px;}

.search_results_ajax  { display:none; float:none; left: 202px; position: relative; top: -22px;}
/* new override styles */
img.follower_image {
  width: 50px;
  height: 50px;
}

/* from application.css, for login page */
#main_content {margin: 0px 24px 14px 20px;}
#container {margin: 21px auto 0 auto; min-height: 100%; height: auto !important; height: 100%; width: 988px; background: #fff; text-align: left; overflow: hidden;}
span.title {font-size: 18px; font-weight: bold;}

#social {border-bottom: 1px solid #CCC; width: 100%;}
#social .container {margin: 20px 24px 14px 20px; overflow: hidden;}
#social .container div {float: left; padding-right: 5px;}

.account_settings {position: relative; zoom: 1;}
.account_settings .form_row {padding: 8px 0px; border-bottom: solid 1px #e1e1e1; zoom: 1;}
.account_settings .form_row.last {padding-top: 15px; border-bottom: none;}
.account_settings .form_row label {font-size: 14px; display: block; margin-bottom: 4px;}

.left_side {float: left;}
.left_side .grey_round_box {height: 20px; padding: 11px 10px; margin-right: 10px; float: left;}

.account_settings .form_row .input.full_width {width: 404px;}
.account_settings .form_row .input.half_width {width: 250px; margin-left: 10px;}

.red_button, .green_button, .orange_button, .black_button, .grey_button, .grey_button_big {text-transform: uppercase;}
.red_button, .green_button, .orange_button, .black_button {display: inline-block; height: 28px; line-height: 28px; overflow: hidden; color: #fff; padding-left: 5px; font-size: 12px; font-weight: bold; text-align: center; text-decoration: none; vertical-align: middle;}
.red_button {background: url("../../images/red_button_left.gif") no-repeat left top;}
.red_button span, .green_button span, .orange_button span, .black_button span {display: inline-block; height: 28px; color: #fff; cursor: pointer; padding-right: 5px;}
.red_button span {background: url("../../images/red_button_right.gif") no-repeat right top;}
.red_button span span, .green_button span span, .orange_button span span, .black_button span span {padding: 0px 10px;}
.red_button span span {background: #ff0014;}
/* end login page css additions */

.fb_edge_widget_with_comment {
  padding-right: 10px;
}

/* from application.css, for the reg page */
.auth_area {color: #000; padding: 30px 0px 20px;}
.auth_left {width: 434px; float: left; border-right: solid 1px #ccc; /*padding: 25px 35px 0px 0px;*/}
.auth_right {width: 440px; float: right; padding-top: 35px;}

.icons_list { list-style-type: none;}
.icons_list li {padding: 5px 0px 35px 80px; width: 320px; line-height: 16px;}
.icons_list li big {font-size: 18px; line-height: 20px;}
.icons_list li.loop {background: url("../../images/icon_loop.gif") no-repeat left top;}
.icons_list li.badges {background: url("../../images/icon_badges.gif") no-repeat left top;
  height: auto; /* there's another badges style cascading here, undo it */
}
.icons_list li.friends {background: url("../../images/icon_friends.gif") no-repeat left top;}
.icons_list li.create {background: url("../../images/icon_create.gif") no-repeat left 8px;}
.icons_list li.work {background: url("../../images/icon_work.gif") no-repeat left top;}

.account_settings .form_row label small { font-size: 12px;}
.account_settings .form_row .input.half_width2 {margin-left:10px; width:300px;}
.auth_area .account_settings .form_row .input.full_width  {width: 404px;}

.form_content { margin: auto; }

.grey {color: #999;}
.right_side {float: right;}
.clearer {clear: both;}

.privacy_text {float: right; width: 390px; color: #666; font-size: 11px; /*margin-top:4px;*/}
.privacy_check {float: left; margin-left: 20px;}

/* end reg page css additions */

/* from application.css, for forgot pw page */

.auth_right ul .forgot {background: transparent url(../../images/red_lock.gif) no-repeat 0 0;}
.auth_left2 {width: 434px; float: left; border-right: solid 1px #ccc; padding: 25px 35px 0px 0px;}

/* end forgot pw additions */

img.avatar.small {
  width: 50px;
  height: 50px;
}

b {
  font-weight: bolder;
}

big {
  font-size: larger;
}

.added_items li {
  border: solid 3px white;
  padding: 2px 1px;
  background: white;
  position: relative;
  margin-bottom: 1px;
  zoom: 1;
}

.added_items .text {
  float: left;
  width: 200px;
  padding-left: 5px;
}

/* flash styles */
#flash_messages {left: 0px; position: absolute; width: 100%; z-index: -100;}
.message {width: 100%; text-align: center; color: #fff; font-size: 12px; font-weight: bold; line-height: 25px;}
.confirmation_message {background: #0a872b url("../../images/confirmation_message_bg.gif") repeat-x left top; border: solid 3px #086b22; border-top: none;}
.error_message {background-color: #bf0b10; border: solid 3px #640604; border-top: none;}
/* end flash styles */


.support_pages p {
  font-weight: normal;
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
  margin-right: 15px;
}

.preamble {
  margin-left: 0px !important;
}

.support_pages h1 {
  display: block;
  text-align: center;
  font-family: Verdana,Geneva,Kalimati,sans-serif;
  font-size: 220%;
  font-weight: normal;
  padding-bottom: 30px;
  margin-top: 45px;
  text-transform: none;
}

.support_pages h3 {
  margin-left: 15px;
  font-size: 13px;
}

.support_pages p {
  font-weight: normal;
  color: #666666;
  margin-bottom: 20px;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
}
.support_pages ul {
  font-weight: normal;
  color: #666666;
  margin-bottom: 20px;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  list-style: inside;
}

.support_pages li {
  margin-bottom: 15px;    
}

.share_button_container .loading {
  float:right;
  position: relative;
  top:50px;
  left:450px;
}
