<div class="pie">
  <span class="url_cyloop"><img src="/images/coke_messenger/cyloop_powered.png" alt="Powered by Cyloop" width="43" height="20" /></span>
  <%= link_to 'Coca-Cola.fm', root_url, :onclick => 'Base.Player.pause()', :target => '_blank', :class => 'url_cocacola' %>
</div><!-- .pie -->
