<div class="pie">
  <a class="url_cyloop" href="#" title="CyLoop"><img src="/images/coke_messenger/cyloop_powered.png" alt="Powered by CyLoop" width="43" height="20" /></a>
  <a class="url_cocacola" href="#" title="Coca-Cola.fm">Coca-Cola.fm</a>
</div><!-- .pie -->
