<div class="cabecera">
  <img class="logo" src="/images/coke_messenger/cocacola_fm.png" alt="Destapa tus emociones" width="114" height="82" />
  <h1 class="claim">Escucha musica, crea y comparte tus mixes</h1>
  <div class="nav_cab">
    <a class="btn_connect" href="#" title="Connect">Connect</a>
    <!--<wl:signin></wl:signin>-->
    <div class="destacados estirar">
      <a class="btn_envivo" href="#" title="Radio en vivo">Radio en vivo</a>
      <a class="btn_nuevomix" href="#" title="Crear nuevo Mix">Crear nuevo Mix</a>
    </div><!-- .btn_destacados -->
  </div><!-- .nav -->
</div><!-- .cabecera -->
<ul class="menu_principal">
  <li class="inicio"><a href="#" title="">INICIO</a></li>
  <li><a href="#" title="">MIXES</a></li>
  <li><a href="#" title="">DJs</a></li>
  <li><a href="#" title="">MIS MIXES</a></li>
  <li><a href="#" title="">AMIGOS</a></li>
  <li class="buscador">
    <form class="buscar" action="#">
      <input class="boton" type="submit" value="Buscar" />
      <input id="btnBuscar" class="texto" type="text" value="Busca amigos o mixes" />
    </form>
  </li>
</ul><!-- .menu_principal -->
<div class="reproductor">
  <img src="/images/coke_messenger/reproductor_flash.jpg" alt="Escucha nuestras canciones" width="555" height="47" />
</div><!-- .reproductor -->
