<h3><%= t('coke_messenger.my_friends_tab.dnt_hav_frnds')%></h3>
<p><%= t('coke_messenger.my_friends_tab.easy')%> <img alt="Seguir al autor" src="/images/coke_messenger/btn_seguir.gif"><%= t('coke_messenger.my_friends_tab.follow')%></p>