<h3><%= t('coke_messenger.mix_page_blank') %></h3>
<p> <%= t('coke_messenger.mix_page_blank_desc') %> </p>
<a class="btn_nuevomix" href="/playlist/create" target= "_blank" title="<%= t('coke_messenger.create_mix') %>"><%= t('coke_messenger.create_mix') %></a>