Login with Windows Live:
<br/>
<ul>
  <li><a href="<%= win_login_redirect_url("connected")  %>">Fully Connected User</a></li>
  <li><a href="<%= win_login_redirect_url("connect")  %>">Needs to Connect/Register Coke.fm Account</a></li>
  <li><a href="<%= win_login_redirect_url("optin")  %>">Has a Cyloop account and needs to OPT IN to Coke.fm</a></li>
</ul>