public/javascripts/locale.js
/shared/
config/database.yml
config/resque.yml
db/schema.rb
*.swp
*.swo
config/development.sphinx.conf
public/flash/debug
public/feeds
public/index-bands
public/system
public/images/meme.jpeg
db/tyrant
vendor/cyqueue
db/sphinx
.project
.DS_Store
config/locales/log
.rvmrc

