<div class="aviso">
  <div class="aviso_cab">
    <a class="btn_cerrar" href="#" onclick="$.alert_layer.close();" title="Cerrar"><strong>X</strong> Cerrar</a>
  </div>
  <%= yield %>

  <div class="connect">
    <span>Pulsa aqu&iacute;</span><a class="btn_connect" href="#" title="Connect">&nbsp;</a>
  </div>
</div>