<div class="aviso">

  <%= yield %>

  <div class="connect">
    <!-- span><%= t('messenger_player.click_here') %></span><a class="btn_connect" href="#" title="<%= t('actions.connect') %>">&nbsp;</a -->
  </div>
</div>
