<div class="aviso">
 <% if @orig_msg%>
  <div class="aviso_cab">
    <a class="btn_cerrar" href="#" onclick="$.alert_layer.close();" title="Cerrar"><strong>X</strong> Cerrar</a>
  </div>	
  <%= yield %>
  <div class="connect">
    <span><%= t('messenger_player.click_here') %></span><a class="btn_connect" href="#" title="<%= t('actions.connect') %>">&nbsp;</a>
  </div>
	<% else %>
	   <%= yield %>
	<% end %>
</div>
