<div class="rules_list">
    <div class="rule">maximum of 2 songs from the same artist</div>
    <div class="rule">maximum of 2 songs from the same album</div>
</div><!--/end rules_list -->

<h2 class="left_side"><span id="remaining_track_count">10</span> tracks remaining to publish</h2>
<div class="black_count" id="track_count">0</div>

<br class="clearer" />

<div class="dotted_box">
    <div class="layer2">
        <div class="layer3">
            <div class="step_no">2</div>
            <h2>DRAG SONGS HERE</h2>

            <div>
                include at least 10 songs,<br/>with no more than 2 songs<br/>from the same artist<br/>or the same album
            </div>
        </div>
    </div>
</div><!--/end dotted_box -->

<div class="align_right">
    <a href="#" class="cancel_button">CANCEL</a>

</div>