<div class="support_pages">

  <% content_for :title do %>
    BASES DEL CONCURSO
  <% end %>

  <h1>BASES DEL CONCURSO</h1>
  <p>El presente concurso, denominado “Coca-Cola.fm” (en adelante, el “Concurso”) es organizado por Servicios y Productos para Bebidas Refrescantes SRL (en adelante, “Coca-Cola”). El Concurso se rige por las Bases que se establecen a continuación (en adelante, las “Bases”).</p>

  <h2>Aceptación de las Bases y de los términos y condiciones del Sitio</h2>
  <p>La participación en el Concurso atribuye la condición de participante, única y exclusivamente en la medida en que cada uno complete los datos requeridos, cree una lista de música y cumpla con las demás condiciones y requisitos establecidos en las Bases (en adelante, el “Participante”) así como los términos y condiciones del Sitio que más adelante se indica. La participación expresa la aceptación plena e incondicional de los mismos.</p>

  <h2>Condiciones para ser Participante </h2>
  <p>Puede participar en el Concurso cualquier persona física mayor de 14 años de edad y residente en la República Argentina, que sean usuarios registrados del Sitio, excepto que no podrá participar en el Concurso el personal de Coca-Cola, ni de las empresas relacionadas con la organización del Concurso, así como tampoco los parientes por consanguinidad o afinidad hasta el 2° grado inclusive, ya sea que lo hagan a nombre propio o de terceros. Los menores de 18 años de edad que participen en el Concurso deberán contar con la autorización de sus padres o tutores.</p>

  <h2>Mecanismo de Participación</h2>
  <p>Para participar en el Concurso, el participante deberá:<br />
    <ol>
      <li>Ingresar a www.coca-cola.fm (en adelante, el “Sitio”)</li>
      <li>Completar los siguientes datos personales en la registración en el Sitio:
      <ul>
      <li>Nombre y apellidos del Participante</li>
      <li>Dirección de correo electrónico del Participante</li>
      <li>Fecha de Nacimiento</li>
      <li>Nickname</li>
      <li>Contraseña</li>
      </ul>
      <p>Es requisito para participar en el Concurso completar todos y cada uno de los datos indicados y que los datos proporcionados sean verdaderos, exactos, vigentes y auténticos.</p>
      </li>
      <li>Armar una lista de música (en adelante, la “Lista”) con un mínimo de 10 canciones y un máximo de 60 canciones, a la cual podrán luego adherirse como seguidores las personas que visiten y se registren en el Sitio. Los Participantes podrán armar las Listas seleccionando canciones de un listado de 4.000.000 de temas musicales que estarán disponibles en el Sitio, los cuales fueron preseleccionados por Coca-Cola.</li>
      </ol>
  </p>

  <h2>Fechas de comienzo y terminación del Concurso</h2>
  <p>El Concurso se desarrollará desde el día 17 de septiembre de 2010, hasta las 17 hs del día 25 de octubre de 2010. Únicamente durante dicho plazo podrán los Participantes armar Listas y conseguir seguidores.</p>
  
  <h2>Ingreso de listas de música al Concurso</h2>
  <p>Cada Participante podrá ingresar en el Concurso cuantas Listas quiera. No será necesario que los Participantes se vuelvan a registrar en caso de optar por confeccionar una nueva Lista.</p>

  <h2>Adhesión a Participantes y Determinación de los Ganadores</h2>
  <p>Para adherirse como seguidor de un Participante es necesario estar registrado como usuario en el Sitio (en adelante, el/los “Seguidor/es). Una vez registrados en el Sitio los Seguidores deberán hacer clic en el botón “SEGUIR” que se encuentre junto al Participante al que deseen adherirse. Cada Seguidor podrá adherirse y seguir a cuantos Participantes quiera.<br /><br />Se exhibirá en el Sitio un ranking de los Participantes más seguidos, que se irá actualizando periódicamente, mas no reflejará las adhesiones en tiempo real.<br /><br />Los dos Participantes que más seguidores tengan a las 17 horas del día 25 de octubre de 2010, serán los ganadores del Concurso (en adelante, los “Ganadores”). En caso de empate en cuanto a cantidad de Seguidores, serán ganadores los que haya ingresado su Lista al Concurso primera en el tiempo.<br /><br />Coca-Cola comunicará a los Ganadores, a la dirección de correo electrónico que hayan registrado en el Sitio, su carácter de tales, solicitando a los mismos el tipo y número de documento (DNI o Pasaporte en caso de extranjeros residentes en la República Argentina), entre otros datos, y coordinará con ellos la entrega de los premios en las oficinas de Coca-Cola, dentro de los 30 días hábiles de la determinación de los Ganadores.</p>

  <h2>Premios</h2>
  <p>Los Ganadores recibirán como premio una entrada y pasaje para cada uno y un acompañante para asistir a los MTV Europe Music Awards que se llevarán a cabo el día _6 de noviembre_ en la ciudad de Madrid (en adelante, el “Premio”). El Premio incluye: pasaje aéreo en clase turista de Buenos Aires – Madrid- Buenos Aires, en día y horario a definir por el Organizador, hospedaje en base doble por 4 (cuatro) noches en hotel 4 (cuatro) estrellas a definir por el Organizador, media pensión y entradas a los MTV Europe Music Awards a definir por el Organizador. Los Ganadores y los acompañantes que aquellos designen deberán tener al día y en regla la documentación que les permita gozar del Premio en la oportunidad que determine el Organizador, y asimismo deberán atenerse a los horarios y días de viaje que aquél determine. En caso de que por cualquier razón ajena a la voluntad del Organizador, los Ganadores y/o cualquiera de sus acompañantes no pudieran gozar del Premio, no tendrán derecho a compensación alguna ni podrán solicitar el reemplazo del Premio por otro, su transferencia a un tercero o su canje por dinero en efectivo. Tampoco será responsable el Organizador de ningún gasto, incluyendo, sin limitación, los relativos a impuestos, tasas, fletes, y otros montos (traslado, estadía, etc.) que los potenciales Ganadores y sus acompañantes deban realizar en virtud del Premio y/o como consecuencia de la asignación o entrega del mismo. En especial, el Premio no incluye otros gastos que no sean los indicados en este párrafo.<br /><br />Los Premios se considerarán asignados únicamente frente a la presentación personal por parte de los Ganadores al Organizador del DNI o Pasaporte que acredite que los datos con los que se registraron son verídicos, junto con la suscripción de una constancia de recibo del Premio.<br /><br />Asimismo, en caso de que el/los Ganador/es sean menor/es de edad, deberá/n estar acompañado/s por su padre y madre o tutor a fin de que éstos presten su conformidad al respecto.<br /><br />Los gastos en que deban incurrir los Ganadores para el retiro de los Premios serán a su exclusivo cargo, incluyendo traslado a la Ciudad Autónoma de Buenos Aires y estadía. En caso de que los Ganadores no retiren sus Premios dentro de los 30 días corridos de finalizado el Concurso, los Premios se considerarán vacantes y quedarán en poder de Coca-Cola.<br /><br />En caso de que alguno de los Ganadores no cumpliera los requisitos para ser considerado Participante, su Premio se considerará vacante y quedará en poder de Coca-Cola.<br /><br />Coca-Cola no se hará cargo de gastos, daños o pérdidas ocasionados a los participantes del Concurso o terceros, en sus personas o en sus bienes, debida a o en ocasión de la utilización de los Premios.<br /><br />Los Ganadores, y en el caso de los menores de edad sus padres y/o tutor, autorizan a Coca-Cola, por la sola participación en el Concurso, a publicar sus nombres e imágenes y a emitirlas en cualquier medio, ya sea televisivo, gráfico, internet u otro, con fines comerciales o promocionales, en forma conjunta con la marca MTV, sin compensación alguna, por un período de 24 meses luego de finalizado el Concurso.<br /><br />Cuando circunstancias no previstas lo justifiquen, Coca-Cola podrá cancelar, suspender o modificar las Bases y el Concurso, comunicando tal circunstancia por los mismos medios por los que se dan a conocer estas Bases.  Cualquier cuestión no prevista en estas Bases será dirimida por Coca-Cola, sin perjuicio de los derechos que por ley asistan a los participantes.</p>
</div>
