<div class="contenido">
  <div id="container">
    <div id="main_content">
      <div class="support_pages">

        <% content_for :title do %>
          Política de privacidad de Coca-Cola.fm
        <% end %>

        <!-- integracion -->
        <h1 class="tit_bloque gris">
          <span class="txt">Política de privacidad de Coca-Cola.fm </span>
          <span class="bg_fin">&nbsp;</span>
        </h1><!-- .tit_bloque -->  
        <!-- fin integracion -->
        

        <p class="preamble">
        The Coca-Cola Company, con sede en los Estados Unidos (la “empresa”) ha redactado esta política de privacidad para <a href="www.Coca-Cola.fm">www.Coca-Cola.fm</a> (el “Sitio”) para demostrar su firme compromiso en relación con la privacidad. A continuación, se enumeran las prácticas de recopilación y difusión de la información de The Coca-Cola Company con respecto a la información que se proporciona a este Sitio. Recomendamos al usuario que lea esta política antes de acceder al Sitio Web. El acceso a este Sitio implica conformidad con los términos de la política. Si no está de acuerdo con algún punto, por favor no acceda al Sitio Web.
        </p>

        <h2 class="subtitle">DECLARACIÓN DE PRIVACIDAD</h2>
        <br />

        <h2>I. Recopilación y uso de información por parte de The Coca-Cola Company</h2><br />
        <h2>A. Información personal de identificación</h2>

        <p>
        Se recopilará información personal que le identifique, por ejemplo, el nombre, la dirección postal, el número de teléfono o de celular, la dirección de correo electrónico, cuando la proporciona a través de este Sitio, por ejemplo, al crear una cuenta, participar en un sorteo, suscribirse a boletines, participar en encuestas, ponerse en contacto con el servicio de atención al cliente o con cualquier otra interacción con el Sitio Web. Es posible que utilicemos su información personal identificable para todos los fines legales, los cuales pueden incluir, pero sin limitarse a, responder sus solicitudes, procesar sus transacciones, para fines administrativos tales como llevar a cabo concursos, averiguar las partes del Sitio que son de su interés, procesar premios. Si selecciona darse de alta, podemos compartir su información identificable personal con las entidades afiliadas o subsidiarias ("Entidades afiliadas") de The Coca-Cola Company para los fines de enviarle información sobre los programas de The Coca-Cola Company o sus Entidades afiliadas y, en ocasiones, publicidad y material promocional de algunos de los socios estratégicos y publicitarios. También se puede usar la información personal que le identifique para fines empresariales internos, como por ejemplo, optimizar sus experiencias en el Sitio y analizar y administrar otros asuntos. Puede darse de alta para recibir determinada información o comunicados en el futuro (consulte la sección Darse de alta que aparece más adelante). <br /><br />

        <b>Nota sobre el uso de este Sitio por parte de niños</b><br />
        Este Sitio no está dirigido a niños, por lo que, solicitamos que los niños no faciliten información personal que les identifique a través del mismo.
        </p>


        <h2>B. Información demográfica</h2>
        <p>
        Asimismo, se recopilarán datos demográficos estadísticos como, por ejemplo, la fecha de nacimiento, el sexo o el código postal. La información de carácter demográfico se puede utilizar para optimizar su experiencia en este Sitio, al mostrarte contenido específico, incluidos eventos especiales y publicidad en los que pueda estar interesado, así como para ver contenido conforme al código postal.
        </p>
        <p>
        En algunas ocasiones, la información consolidada que no identifica a ningún usuario en particular se reúne y comparte con empresas subsidiarias o afiliadas a The Coca-Cola Company, socios estratégicos, comerciantes y anunciantes. 
        </p>

        <h2>C. Recopilación pasiva de información no personal</h2>
        <p>
        A menudo este Sitio exige el uso de cookies codificadas o no codificadas. Las cookies son datos que un servidor Web transfiere a la computadora a modo de registro. Las cookies son de utilización común en el sector por prácticamente la totalidad de Sitios Web y facilitan al usuario el acceso y la utilización de Sitios concretos, suministrando información que se puede utilizar para ofrecer contenido concreto adecuado a sus intereses y para otros fines como la seguridad y demás funciones de administración de cuentas, que pueden dar lugar al seguimiento de información personal de identificación.
        </p>
        <p>
        Las cookies no causan daños a la computadora y únicamente el Sitio Web que las transfiere puede leerlas, modificarlas o borrarlas. Si no quiere que se recopile ninguna información por medio de cookies, la mayoría de los navegadores tienen sistemas sencillos que permiten eliminarlas, rechazarlas automáticamente o directamente le permiten elegir si acepta o no la transferencia de cookies a su computadora. Consulte las instrucciones de su navegador o la pantalla de ayuda para obtener más información acerca de estas funciones. Debe tener en cuenta, no obstante, que si no acepta cookies puede resultar difícil o imposible acceder a determinadas partes del Sitio. 
        </p>
        <p>
        Algunas de las funciones de las cookies de un sito están controladas por entidades afiliadas a quien la empresa concede la gestión de determinados programas y el cumplimiento de peticiones concretas de visitantes y clientes. The Coca-Cola Company exige a estas entidades que restrinjan la utilización de cookies a los términos estipulados en la presente política, pero no se hace responsable de la utilización que terceras partes hagan de las cookies.
        </p>
        <p>
        El Sitio puede hacer uso de "píxeles transparentes", "rastreadores web" o "gifs transparentes" (englobados como "píxeles transparentes") para recopilar estadísticas sobre la utilización del Sitio y los índices de respuesta. Los píxeles transparentes permiten contabilizar los usuarios que han visitado determinadas páginas del Sitio, proporcionar servicios corporativos y ayudar a determinar la efectividad de campañas promocionales. Si se utilizan mensajes de correo electrónico en formato HTML, los píxeles transparentes pueden informar al remitente de cuándo ha sido abierto el mensaje.
        </p>
        <p>
        The Coca-Cola Company también recaba información sobre las <b>"referencias"</b>, <b>direcciones IP</b> y distintas <b>variables del entorno</b>.
        <ul>
          <li>
          Una "referencia" es información que el explorador Web transmite a nuestros servidores Web y que hace alusión al URL desde el que accede al Sitio. 
          </li>
          <li>
          La "dirección IP" es un número que utilizan los equipos en una red para identificar el equipo en cuestión de modo que la información se pueda transmitir a éste. 
          </li>
          <li>
          Las "variables del entorno" son, entre otras cosas, el dominio desde el que se accede a Internet, la hora de acceso al Sitio, el tipo de explorador Web, el sistema operativo o plataforma que se utilizan, la dirección de Internet o del Sitio Web que le remite a este Sitio, los nombres de las páginas del Sitio que visita, así como la dirección de Internet del Sitio Web que visita a continuación. 
          </li>
        </ul>
        </p>
        <p>
        Esta información se recopila para uso interno de The Coca-Cola Company, por ejemplo, para incrementar la seguridad del Sitio Web, detectar tendencias demográficas importantes, ayudar a The Coca-Cola Company a ofrecer el contenido que más se ajusta a sus intereses y, por último, para mejorar de cualquier otra forma su experiencia en este Sitio. Es posible que la información también se comparta con terceros a nivel general, sin incluir sus datos de identificación.
        </p>

        <h2>II. Divulgación de la información a terceras partes</h2>
        <p>
        The Coca-Cola Company puede compartir información personal que le identifique, incluyendo la información que se proporciona al Sitio, con terceras partes según los términos que se describen a continuación. Por lo tanto, también debe tener en cuenta que la información se puede transmitir a cualquier país del mundo, incluyendo los EE.UU. y otro país que no proporcione el mismo nivel de protección de datos que el país en el que reside. 
        </p>
        <h2>A. Entidades afiliadas</h2>
        <p>
        Podemos compartir información, incluyendo la información personal que le identifique que proporcione al Sitio, con nuestras subsidiarias y afiliadas en cualquier parte del mundo, para los fines descritos en la Sección I(A). Puede acceder a una lista de ciertas Entidades afiliadas en: <a href="http://www2.coca-cola.com/investors/form_10K_2005.html">http://www2.coca-cola.com/investors/form_10K_2005.html</a>. 
        </p>
        <h2>B. Socios estratégicos</h2>
        <p>
        Es posible que establezcamos una relación especial con otra empresa que no pertenezca a The Coca-Cola Company ni sea filial de la misma, para introducir más funciones en el Sitio. Estas relaciones especiales se establecen con socios comerciales, patrocinadores y sitios de marca de empresa (en adelante “páginas de marca de empresa”). Cualquier información, incluida la de carácter personal que le identifique, que proporcione en una de estas páginas de marca de empresa se compartirá con estos socios. Al participar en actividades o proporcionar información en estas páginas de marca de empresa, da su consentimiento para que compartamos la información personal que le identifique con las terceras partes citadas. Ya que las terceras partes harán us o de la información de acuerdo con sus propias prácticas de privacidad, le recomendamos que revise la información correspondiente a las distintas políticas de privacidad de los diversos sitios Web. 
        </p>
        <h2>C. Proveedores de servicios</h2>
        <p>
        Es posible que se contraten los servicios de proveedores externos para ayudarnos en la operación del negocio y del Sitio o para gestionar actividades en nuestro nombre como, por ejemplo, el envío de correos electrónicos, la realización de pedidos y la administración de sorteos. Es posible que compartamos su información con estas terceras partes en los casos anteriormente descritos. Por ejemplo, si participa en un sorteo, juego o programa de lealtad y, como consecuencia, obtiene un premio, proporcionaremos información personal a las agencias que se encargan de la gestión y el proceso de juegos y mercancías. 
        </p>
        <h2>D. Información adicional que se divulga</h2>
        <p>
        La información personal de identificación de cualquier persona se podría compartir con otras empresas ajenas a The Coca-Cola Company: (i) según dicte la ley, (ii) en el caso de una transferencia de derechos de propiedad, activos o bancarrota de The Coca-Cola Company, (iii) si determinamos que la divulgación de cierta información es necesaria para cumplir con un requerimiento judicial o normativo o con otro proceso jurídico, o (iv) para proteger los intereses o la seguridad de The Coca-Cola Company o de cualquier visitante de este Sitio.
        </p>
        <h2>E. Funciones de contenido generado por el usuario</h2>
        <p>
        Este Sitio permite al usuario añadir su propio contenido en desafíos y otras funciones. Tenga en cuenta que cualquier información que publique, una vez enviada se vuelve del dominio público, y, por tanto, debe extremar las precauciones si decide revelar información personal, económica o de otro tipo en sus envíos. The Coca-Cola Company no puede evitar que dicha información se utilice de forma que pueda contravenir a esta Declaración de privacidad, la ley o su propia privacidad y seguridad; por ese motivo, no se responsabiliza de ninguna manera de las consecuencias de la publicación de dicha información. 
        </p>
        <h2>F. Sorteos, concursos, etc..</h2>
        <p>
        Es posible que realicemos sorteos, concursos, rifas y promociones similares a través del Sitio en los que se exija el registro en línea. Normalmente, le pediremos determinada información personal que le identifique cuando participe y, en su caso, si gana un sorteo, concurso, rifa o promoción similar. Es posible que compartamos su información personal con terceros patrocinadores de dichos sorteos, concursos, rifas y promociones (independientemente de si los presentamos o no), o de otra forma de acuerdo con las reglas aplicables a dicho sorteo, concurso, rifa o promoción. Deberá revisar con atención las reglas de cada sorteo, concurso, rifas y promoción en los que participe a través del Sitio, ya que pueden contener información adicional importante acerca del uso de su información personal de identificación por parte de The Coca-Cola Company o de un patrocinador. En la medida en que los términos y condiciones de dichas normas relativas al tratamiento de su información personal de identificación entren en conflicto con esta Declaración de privacidad, prevalecerán los términos y condiciones de dichas reglas. 
        </p>

        <h2>III. ENLACES Y PRÁCTICAS DE PRIVACIDAD DE TERCEROS</h2>
        <p>
        Este Sitio puede contener enlaces a otros sitios ajenos a The Coca-Cola Company. <b>THE COCA-COLA COMPANY NO ES RESPONSABLE DE LAS PRÁCTICAS DE PRIVACIDAD O EL CONTENIDO DE LOS SITIOS WEB DE TERCEROS, INCLUIDOS LOS SITIOS WEB DE ENTIDADES AFILIADAS.</b> Dichos enlaces se proporcionan exclusivamente para su comodidad. La inclusión de un enlace en el sitio no implica que The Coca-Cola Company apoye al sitio al que remite el enlace. Si facilita información personal de identificación a través de cualquier sitio Web de un tercero de ese tipo, su transacción tendrá lugar en el sitio Web de dicho tercero (no en este sitio) y la información personal de identificación que facilite será recopilada por dicho tercero y se regirá por la política de privacidad del mismo. The Coca-Cola Company le invita a revisar la política de privacidad de los Sitios Web de terceras partes a los que haya accedido a través de los enlaces de este Sitio.
        </p>
        <h2>IV. SEGURIDAD</h2>
        <p>
        Este Sitio posee medidas de seguridad para ayudar a la protección contra la pérdida, el uso incorrecto y la modificación de la información personal de identificación que se encuentra bajo el control del mismo. The Coca-Cola Company emplea medidas de seguridad acordes con las prácticas estándar del sector para ayudar a proteger contra el acceso público a la información personal de identificación y bancaria que The Coca-Cola Company recopile y utilice en este sitio. Por ejemplo, el acceso a nuestra base de datos en la que se guarda la información personal de identificación quedan registrados con fines de seguridad y el acceso está restringido al personal clave. Algunas actividades específicas están protegidas mediante el uso de la tecnología de codificación de comunicaciones seguras denominada SSL. SSL (del inglés Secure Sockets Layer, nivel de sockets seguro) es un protocolo que oculta la información para evitar que otras personas intercepten y lean los datos que se envían entre el cliente (su equipo) y el servidor (este Sitio). La información personal de identificación y la actividad de cuentas también están protegidas mediante el uso de nombres de usuario y contraseñas. Para ayudar a preservar la seguridad de la información, es necesario que usted mantenga en secreto su nombre de usuario y su contraseña. 
        </p>

        <h2>V. DARSE DE ALTA</h2>
        <p>
        Este Sitio ofrece al usuario la oportunidad de darse de alta para recibir mensajes de comunicados de mercadotecnia de The Coca-Cola Company. Si no se da de alta, The Coca-Cola Company no le enviará ofertas ni promociones. Sin embargo, aunque haya optado por no recibir esta información, The Coca-Cola Company puede enviarle esporádicamente correos electrónicos por motivos administrativos. Si ha optado por darse de alta para recibir comunicados y luego cambia de opinión, la preferencia de darse de baja podría no aplicarse en algunos casos en que haya aceptado recibir información de marcas concretas. 
        </p>
        <p>
        The Coca-Cola Company también le ofrece métodos sencillos para eliminar la información de la base de datos, de modo que no reciba comunicaciones futuras, o para cerrar la cuenta:
        </p>
        <ul>
          <li>
          puede darse de baja en la página de perfil de cuenta; 
          </li>
          <li>
          también puede enviar un correo electrónico al servicio de atención al cliente de The Coca-Cola Company en: <br/>
          Coca-Cola.Support@na.ko.com 
          </li>
          <li>
          o puede enviar una carta a la siguiente dirección postal: <br/>
          <br />
          The Coca-Cola Company<br/>
          Website Customer Care<br/>
          P.O. Box 1734<br/>
          Atlanta, GA 30301<br/>
          </li>
        </ul>


        <br/>
        Este Sitio le ofrece varias opciones para revisar, corregir, actualizar o modificar de cualquier otra forma la información que haya introducido con anterioridad:   </p>
        <ul>
          <li>
          puede realizar modificaciones y actualizaciones en la página de perfil de cuenta; 
          </li>
          <li>
          Puede enviar un correo electrónico a Servicios al Cliente de The Coca-Cola Company a Coca-Cola.Support@na.ko.com 
          </li>
          <li>
          puede enviar una carta a la siguiente dirección postal: <br/>
          <br />
          The Coca-Cola Company<br/>
          Website Customer Care<br/>
          P.O. Box 1734<br/>
          Atlanta, GA, EE.UU. 30301 <br/>
          </li>
        </ul>
        <p>
        Tenga en cuenta que las modificaciones no entrarán en vigor de forma inmediata. En cualquier caso, deberá indicar claramente la información que desea que modifiquemos o exponer con claridad que desea que su información personal identificable sea eliminada de nuestra base de datos. Trataremos de satisfacer su petición lo antes posible. Tenga en cuenta que a pesar de cualquier solicitud para eliminar o modificar la información personal de identificación, es posible que tengamos que conservar determinada información a modo de registro, y también podría haber información residual que permanezca dentro de nuestras bases de datos u otros registros, que no sea eliminada o modificada. Asimismo, nos reservamos el derecho de ponernos en contacto con antiguos usuarios del sitio, ocasionalmente, para usos administrativos importantes . Por último, no somos responsables de informar a las terceras partes (lo que incluye entre otros a nuestros proveedores de servicios o socios estratégicos) con las que ya hayamos compartido su información personal de identificación de ningún cambio solicitado en virtud de esta sección, ni para que se elimine o se haga que se elimine información de las bases de datos o registros de dichas entidades.
        </p>

        <h2>VI. ACTUALIZACIÓN DE ESTA POLÍTICA DE PRIVACIDAD</h2>
        <p>
        The Coca-Cola Company se reserva el derecho de realizar las modificaciones que estime oportunas en esta Política de privacidad. En el caso de que The Coca-Cola Company efectúe un cambio significativo en la presente Política de privacidad, éste se hará público en el presente documento. Le recomendamos visitar con frecuencia esta página, ya que el uso del Sitio tras cualquier modificación que se lleve a cabo en la presente Política de privacidad constituye la aceptación de tales cambios. En el caso de que The Coca-Cola Company efectúe un cambio significativo en la presente Política de privacidad, se hará pública una notificación sobre el mismo.
        </p>


        <h2>VII. LEYES PREVALENTES</h2>
        <h3>Si es habitante de los EE.UU. o Canadá:</h3>
        <p>
        Tanto las Condiciones de uso como el uso que haga del Sitio se rigen por las leyes del estado de Georgia, EE.UU., excluyendo cualquier disposición de selección de fuero. Los tribunales de jurisdicción general situados en el condado de Fulton, Georgia, EE.UU., poseen jurisdicción exclusiva sobre cualquiera de los litigios que puedan surgir de, estén relacionadas con, o tengan que ver con las Condiciones de uso y/o el Sitio, o bien en aquéllos en los que estas Condiciones de uso o el Sitio sean relevantes, y usted renuncia a cualquier objeción de jurisdicción, lugar o foro de estos tribunales. 
        </p>
        <h3>Si es habitante de un país europeo:</h3>
        <p>
        Estas Condiciones de uso y su utilización del Sitio están sujetos a las leyes de su país de residencia. Si utiliza este sitio, conviene en someterse a la jurisdicción exclusiva de los tribunales de dicho país en caso de disputa. 
        </p>
        <h3>Si es habitante de Rusia o Ucrania:</h3>
        <p>
        Tanto las Condiciones de uso como el uso que haga del Sitio se rigen por las leyes del estado de Georgia, EE.UU., excluyendo cualquier disposición de selección de fuero. Los tribunales de jurisdicción general situados en el condado de Fulton, Georgia, EE.UU., poseen jurisdicción exclusiva sobre cualquiera de los litigios que puedan surgir de, estén relacionadas con, o tengan que ver con las Condiciones de uso y/o el Sitio, o bien en aquéllos en los que estas Condiciones de uso o el Sitio sean relevantes, y usted renuncia a cualquier objeción de jurisdicción, lugar o foro de estos tribunales.
        </p>
        <h3>Si es habitante de un país de África u Oriente Medio:</h3>
        <p>
        Estas Condiciones de uso y u utilización del Sitio están sujetos a las leyes de la República de Sudáfrica. Al utilizar este sitio, usted acepta someterse a la jurisdicción exclusiva del Alto Tribunal de Sudáfrica (División Local de Witwatersrand o su sucesor) en caso de disputa.
        </p>
        <h3>Si es habitante de la India:</h3>
        <p>
        Estas Condiciones de uso y su utilización del Sitio están sujetos a las leyes de la India. Si utiliza este sitio, conviene en someterse a la jurisdicción exclusiva de los tribunales hindúes en caso de disputa. 
        </p>
        <h3>Si es habitante de cualquier país de Asia que no sea la India:</h3>
        <p>
        Estas Condiciones de uso y el uso que usted haga del Sitio están sujetos a la legislación de Australia. Si utiliza este sitio, conviene en someterse a la jurisdicción exclusiva de los tribunales australianos en caso de disputa. 
        </p>
        <h3>Si es habitante de un país de América Latina:</h3>
        <p>
        Estas Condiciones de uso y el uso que usted haga del Sitio están sujetos a la legislación de México. Si utiliza este sitio, conviene en someterse a la jurisdicción exclusiva de los tribunales mexicanos en caso de disputa. 
        </p>

        <p>
        Si es un habitante de cualquier otro país, estas Condiciones de uso y su uso del Sitio se rigen por el primer párrafo de esta Sección.
        </p>

        <h2>VIII. DATOS DE CONTACTO DE THE COCA-COLA COMPANY</h2>
        <p>
        Si tiene alguna duda acerca de la presente Política de privacidad o de las prácticas de este Sitio, puede ponerse en contacto con nosotros en:<br /><br />
        The Coca-Cola Company<br />
        Website Customer Care<br />
        P.O. Box 1734<br />
        Atlanta, GA 30301<br />
        Teléfono: +1 800 438 2653 <br />
        Coca-Cola.Support@na.ko.com <br />
        </p>
      </div>
    </div>
  </div>
  <script>Cufon.replace('.txt');</script>
</div>
