#login_error {
	margin-left: 31px;
	width: 258px;
}
#login_error div.left {	
 	background: url("/images/login_error_left.png") no-repeat scroll left top transparent;
	float: left;
	height: 47px;
	width: 26px;
}

#login_error div.right {	
 	background: url("/images/login_error_right.png") no-repeat scroll right top transparent;
	float: right;
	width: 26px;
	height: 47px;
}

#login_error div.error_message {	
 	background-color: #000000;
	float: left;
	height: 47px;
	width: 206px;
}

#login_error div.error_message span {	
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-top: 14px;
	text-align: center;
}

.login_form span.label {
	float: left;
	height: 30px;
	margin-left: 7px;
	text-align: left;
	vertical-align: middle;
	width: 75px;
}

#container #header #userdata_box .user img.avatar {
  width: 20px;
  height: 20px;
}

/* User Data */
.user_data_logged_in  { }
.user_data_logged_out { display: none!important; }

#search_results_box .search_list img.search.avatar, .item_image img.avatar.tiny {
	width: 50px;
	height: 50px;	
}

img.avatar.follower_image, img.avatar.small  {
	width: 50px;
	height: 50px;
}

img.avatar.search_results {
	width: 39px;
	height: 39px;
}

img.avatar.tiny {
	width: 20px;
	height: 20px;
}

img.avatar.medium {
	width: 150px;
	height: 150px;
}

li.scope_toggle .mini_loader{
	width: 18px; 
	height: 18px; 
	margin-left: 10px; 
	margin-top: 3px;
}

.hide {
	display: none;
}

.search_results_ajax  {
	display:none;
	float:right;
	margin-right:10px;
}

.red_button, .green_button, .orange_button, .black_button, .grey_button, .grey_button_big {
  text-transform: uppercase;
}

.playlist_item .artist_box.empty_item {	
	background: none repeat scroll 0 0 #D8D8D8;
	height: 150px;
	width: 201px;
}

.tags_contains {
  line-height: 20px;
  height: 53px;
}

.tag_links {
  line-height: 20px;
  height: 60px;
}


.search_results_ajax {
  left: 260px;
  margin-right: 10px;
  position: relative;
  top: -20px;
  float: none;
}

.grey_round_box.green_info {
  background: green;
  padding: 5px;
  font-size: 14px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.green {
    color: green;
}

.search_results_box {
	top: 33px;
	left: 516px;
}

.search_results_box .oveflow_list {
	height: auto !important;
}

.search_results_box .spacer {
	height: 20px;
}

.content_search_results_ajax {
	float: right;
	left: 555px;
	position: relative;
	top: 22px;
	display: none;
}
.content_search_results_ajax.playlist_create { left: -15px !important; top: -60px !important; }

.content_search_results_ajax img {
	height: 22px;
	width: 22px;
}

#userdata_arrow {
  bottom:-12px;
  left:-1px;
  position:absolute;
}

.top_follow .grey_bg a, .top_follow .grey_bg a:hover {
  text-decoration: none;
}

div.big_text {
  padding: 20px;
}

div.big_text p{
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: #CACACA;
}

h1 {
	text-transform: uppercase;
}

div.empty_playlist {
  height: 180px;
  margin-bottom: 10px;
  background: #e9e9e9;
}

.spaced_img {
  width: 50px;
  height: 50px;
}

.search_playlist_form {
  position: relative;
}

.big_badges_list li .text {
	padding-top: 6px;
	width: 385px;
}

.big_badges_list li .text .grey_text {
	margin-top: 2px;
	line-height: 13px;
}

#login_box {
	top: 360px;
}

#flash_messages {
  left: 0px;
  position: absolute;
  width: 100%;
  z-index: -100;
}

.message {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
}

.confirmation_message {
    background: #0a872b url("../images/confirmation_message_bg.gif") repeat-x left top;
    border: solid 3px #086b22;
    border-top: none;
}

.error_message {
    background: #bf0b10 url("../images/error_message_bg.gif") repeat-x left top;
    border: solid 3px #640604;
    border-top: none;
}

/* Account Settings */
#avatar_upload_button {
  position: absolute;
  top: 0px;
  left: 0px;
}

label.label_holder input.file{
  position: relative;
  height: 100%;
  width: auto;
  opacity: 0;
  -moz-opacity: 0;
  left:-198px;top:0px;
  position: relative;
  z-index:2;
  filter: alpha(opacity=0)!important; /* fix for ie */
}

label.label_holder{
  width: 125px;
  height: 40px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

#avatar_delete {
  margin-left: 145px;
  position:absolute;
  padding-top: 55px;
  padding-left: 160px;
}

#avatar_upload_info {
  margin-top: 60px;
  margin-left: 10px;
  font-weight: bold;
  color: red;
}

.account_settings .form_row .input_select {
  border:1px solid #999999;
  color:#CCCCCC;
  font-family:Helvetica;
  font-size:16px;
  height:30px;
  padding:4px 9px;
  vertical-align:middle;
  width: 370px;
}
.style1{
  color: #999999
}
.uppercase{
text-transform: uppercase;
}

.delete_info label {
  font-size: 11px !important;
}
