#login_error {
	margin-left: 31px;
	width: 258px;
}
#login_error div.left {	
 	background: url("/images/login_error_left.png") no-repeat scroll left top transparent;
	float: left;
	height: 47px;
	width: 26px;
}

#login_error div.right {	
 	background: url("/images/login_error_right.png") no-repeat scroll right top transparent;
	float: right;
	width: 26px;
	height: 47px;
}

#login_error div.error_message {	
 	background-color: #000000;
	float: left;
	height: 47px;
	width: 206px;
}

#login_error div.error_message span {	
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-top: 14px;
	text-align: center;
}

.login_form span.label {
	float: left;
	height: 30px;
	margin-left: 7px;
	text-align: left;
	vertical-align: middle;
	width: 75px;
}

#container #header #userdata_box .user img.avatar {
  width: 20px;
  height: 20px;
}

/* User Data */
.user_data_logged_in  { }
.user_data_logged_out { display: none!important; }

#search_results_box .search_list img.search.avatar, .item_image img.avatar.tiny {
	width: 50px;
	height: 50px;	
}

img.avatar.follower_image, img.avatar.small  {
	width: 50px;
	height: 50px;
}

img.avatar.search_results {
	width: 39px;
	height: 39px;
}

img.avatar.tiny {
	width: 20px;
	height: 20px;
}

img.avatar.medium {
	width: 150px;
	height: 150px;
}
img.avatar.playlist {
	width: 100px;
	height: 100px;
}

#uploaded_image_name {
  display:none;
  position:relative;
  top: -20px;
  left: 120px;
  text-transform : capitalize;
  color: #f00;
}
.playlist_image_container {
  height: 120px;
  overflow:hidden;
  margin-bottom: 10px;
}

li.scope_toggle .mini_loader{
	width: 18px; 
	height: 18px; 
	margin-left: 10px; 
	margin-top: 3px;
}

.hide {
	display: none;
}

.search_results_ajax  {
	display:none;
	float:right;
	margin-right:10px;
}

.red_button, .green_button, .orange_button, .black_button, .grey_button, .grey_button_big {
  text-transform: uppercase;
}

.playlist_item .artist_box.empty_item {	
	background: none repeat scroll 0 0 #D8D8D8;
	height: 150px;
	width: 201px;
}

.tags_contains {
  line-height: 20px;
  height: 53px;
}

.tag_links {
  line-height: 20px;
}

.box_buttons {
  position: absolute;
  bottom: 5px;
  right: 8px;
}

.search_results_ajax {
  left: 260px;
  margin-right: 10px;
  position: relative;
  top: -20px;
  float: none;
}

.grey_round_box.green_info {
  background: green;
  padding: 5px;
  font-size: 14px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.green {
    color: green;
}

.search_results_box {
	top: 33px;
	left: 516px;
}

.search_results_box .oveflow_list {
	height: auto !important;
}

.search_results_box .spacer {
	height: 20px;
}

.content_search_results_ajax {
	float: right;
	left: 590px;
	position: absolute;
	top: 10px;
	display: none;
}
/*.content_search_results_ajax.playlist_create { left: -15px !important; top: -60px !important; }
.content_search_results_ajax.playlist_update { left: -15px !important; top: -40px !important; }
*/
.content_search_results_ajax img {
	height: 22px;
	width: 22px;
}

#userdata_arrow {
  bottom:-12px;
  left:-1px;
  position:absolute;
}

.top_follow .grey_bg a, .top_follow .grey_bg a:hover {
  text-decoration: none;
}

div.big_text {
  padding: 20px;
}

div.big_text p{
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: #CACACA;
}

h1 {
	text-transform: uppercase;
}

div.empty_playlist {
  height: 180px;
  margin-bottom: 10px;
  background: #e9e9e9;
}

.spaced_img {
  width: 50px;
  height: 50px;
}

.search_playlist_form {
  position: relative;
}

.big_badges_list li .text {
	padding-top: 6px;
	width: 385px;
}

.big_badges_list li .text .grey_text {
	margin-top: 2px;
	line-height: 13px;
}

#login_box {
	top: 360px;
}

#flash_messages {
  left: 0px;
  position: absolute;
  width: 100%;
  z-index: -100;
}

.message {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
}

.confirmation_message {
    background: #0a872b url("../images/confirmation_message_bg.gif") repeat-x left top;
    border: solid 3px #086b22;
    border-top: none;
}

.error_message {
    background: #bf0b10 url("../images/error_message_bg.gif") repeat-x left top;
    border: solid 3px #640604;
    border-top: none;
}

/* Account Settings */
#avatar_upload_button {
  position: absolute;
  top: 0px;
  left: 0px;
}

label.label_holder input.file{
  position: relative;
  height: 100%;
  width: auto;
  opacity: 0;
  -moz-opacity: 0;
  left:-198px;top:0px;
  position: relative;
  z-index:2;
  filter: alpha(opacity=0)!important; /* fix for ie */
}

label.label_holder{
  width: 125px;
  height: 40px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
#save_mix_popup label.label_holder {
  top: 280px;
  left: 110px;
} 
#update_playlist_form label.label_holder {
  top: 55px;
  left:760px;
}

#playlist_error_tag {
	margin-top: 17px;
}

#playlist_error_tag.info_text {
  color: #f00;
}

#track_count {
	margin-top: 17px;	
}

#track_count.info_text {
  background-color: #f00;
}

#avatar_delete {
  margin-left: 145px;
  position:absolute;
  padding-top: 55px;
  padding-left: 160px;
}

#avatar_upload_info {
  margin-top: 60px;
  margin-left: 10px;
  font-weight: bold;
  color: red;
}

.account_settings .form_row .input_select {
  border:1px solid #999999;
  color:#CCCCCC;
  font-family:Helvetica;
  font-size:16px;
  height:30px;
  padding:4px 9px;
  vertical-align:middle;
  width: 370px;
}
.style1{
  color: #999999
}
.uppercase{
text-transform: uppercase;
}

.delete_info label {
  font-size: 11px !important;
}

textarea.network_update_red {
  border:10px solid red !important;
}
#login_error .error_message{
  border: none;
}
.badge_item{
  width: 160px;
}

.rating_inputs {
  float:right;
}

.popup_mix_text {
  margin-left: 10px;
  width: 250px;
}

textarea.network_red_msg {
  border:10px solid red !important;
  margin-left: 0px;
}

.network_red_msg {
  width: 490px;
  background: red;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  margin-left: 15px;
}

textarea.edit_review_red_msg {
  border:10px solid red !important;
  margin-left: 0px;
}


.edit_review_red_msg {
  width: 345px;
  background: red;
  color: #ffffff;
  font-weight: bold;
  padding: 0 0 5px 5px;
  background: red;
  margin-left: 15px;

}

.rating_input {
  margin-top: 10px;
}

div.loading_list {
  height: 155px;
  background: url("../images/loading_large.gif") no-repeat center;
}

.post_button {
  margin-top: 10px;
}

.songs_box .pagination {
	padding-top: 15px;
}
.songs_box.medium_height {
	height: 417px;
}

.empty_results_box {
	height: 234px;
	padding: 104px 10px;
}

#search_results_container {
	height: 480px
}

.my_mix .songs_box ul, .songs_box ul.results_by_artist {
	border-bottom: 1px solid #CCCCCC;
	border-right: none;
	width: 628px;
	height: 371px;
}

#pagination_container {
	background-color: #F1F1F1;
	height: 43px;
	border: 1px solid #FFFFFF;
}

.songs_list.my_mix .headers div.album_name, .my_mix .songs_box .album_name {
	width: 145px;
}

.songs_list .headers div.large_bnt {
	width: 65px; 
	border-right: none;
}

.songs_box ul li div.large_bnt {
	width: 65px;
	border-right: 1px solid #FFFFFF;
}

.songs_list .headers {
	background: none repeat scroll 0 0 #F1F1F1;
}

.songs_list .headers div.solo {
	border-right: 1px solid #FFFFFF;
	padding-left: 10px;
	width: 616px;
}


.pagination .disabled {
	background: none;
	border :medium none;	
	color: #CCCCCC;
	font-size: 20px;
	font-weight: normal;
}

.songs_list .pagination a {
	background-color: #FFFFFF;
	color: #666666;
}

.pagination .current {	
	margin: 0 3px;
}

.songs_list .pagination .current {
	color: #FF0014;
}

.pagination a.prev_page, .pagination a.next_page {
	border :medium none;
	background: none !important;
	font-size: 20px;
	font-weight: normal;
}

.playlist_creation_buttons {
	background-color: #F1F1F1;
	border: 1px solid #CCCCCC;
	height: 44px;
}

.playlist_creation_buttons .right_side {
	margin-top: 7px; 
	margin-right: 10px;
}

.dotted_box  {
	height: 396px;
	margin-bottom: 0px;
}

.added_items  {
	height: 397px;
	overflow-y: auto;
}

.playlist_creation_buttons .cancel_button  {
	display: block;
	float: left;
	font-weight: normal;
	font-size: 13px;
	margin: 6px 6px 0 0;
	text-transform: uppercase;
}

#playlist_error_tag {
	font-size: 13px;	
}

.songs_box {
	overflow-y: hidden;
}

.dotted_box.dragging {
  border: none;
}

.dotted_box .layer3 {
	height: 195px;
	padding: 102px 10px;
}

#update_playlist_form .rules_list  {
	margin-bottom: 13px;
	margin-top: 15px;
	padding: 0;
}

#update_playlist_form #search_results_container {
	margin-top:20px;
}

/*#update_playlist_form .added_items, #update_playlist_form .dotted_box {
	height: 398px;
	border-bottom: 1px solid #CCCCCC;
}*/

#update_playlist_form .content_search_results_ajax {
	top:213px;
}

.rules_list {
	padding: 23px 0 0
}

.playlist_creation_buttons .inner_box {
	border: 1px solid #FFFFFF;
	height: 42px;
}

.songs_box li.last {
  border-bottom: none !important;
}
.review_item .review_text {
  word-wrap: break-word;
}

.rev_text {
  word-wrap: break-word;
}

