#login_error {
	margin-left: 31px;
	width: 258px;
}
#login_error div.left {	
 	background: url("/images/login_error_left.png") no-repeat scroll left top transparent;
	float: left;
	height: 47px;
	width: 26px;
}

#login_error div.right {	
 	background: url("/images/login_error_right.png") no-repeat scroll right top transparent;
	float: right;
	width: 26px;
	height: 47px;
}

#login_error div.error_message {	
 	background-color: #000000;
	float: left;
	height: 47px;
	width: 206px;
}

#login_error div.error_message span {	
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-top: 14px;
	text-align: center;
}

.login_form span.label {
	float: left;
	height: 30px;
	margin-left: 7px;
	text-align: left;
	vertical-align: middle;
	width: 75px;
}

#container #header #userdata_box .user img.avatar {
  width: 20px;
}

/* User Data */
.user_data_logged_in  { }
.user_data_logged_out { display: none!important; }

#search_results_box .search_list img.search.avatar, .item_image img.avatar.tiny {
	width: 50px;
	height: 50px;	
}

.susbcription_creator img.search.avatar.follower_image {
	width: 50px;
	height: 50px;
}

.susbcriptions_list img.avatar, .playlist_item img.avatar {
	width: 150px;
	height: 150px;
}

li.scope_toggle .mini_loader{
	width: 18px; 
	height: 18px; 
	margin-left: 10px; 
	margin-top: 3px;
}

.hide {
	display: none;
}

.search_results_ajax  {
	display:none;
	float:right;
	margin-right:10px;
}

.playlist_item .artist_box.empty_item {	
	background: none repeat scroll 0 0 #CCCCCC;
	height: 150px;
	width: 201px;
}
