<div class="box_content">
  <h1><%= possessive :badges %></h1>
  <div class="badges_list">
    <% if profile_user.total_badges > 0 %>
      <% profile_user.badge_awards.all(:limit => 15, :order => 'created_at DESC').each do |badge_award| %>
      <%= link_to "#{image_tag(badge_award.image(:small))}#{badge_award.new? ? image_tag("new_#{current_site.default_locale.to_s.downcase}.png", :class => 'new') : ''}", badge_path(badge_award) %>
      <% end %>
    <% else %>
    <div class="medium_text">
      <%= t("badges.user_has_not_won_any_badges", :name => profile_account.name) %>
    </div>
    <% end %>
    <br class="clearer" />
  </div>
  <% if profile_user.total_badges > 15 %>
  <div class="align_right"><b class="right_side"><%= link_to t('actions.view_more') %></b></div><br />
  <% end %>
</div><!--/end box_content -->  
