<div id="userdata_box">
    <div class="user">
      <%= avatar_for(current_user, :tiny, :class => "avatar") %>
      <%= link_to(current_user.first_name, my_dashboard_path, :class => "user_name") %>
    </div>
  
    <%= user_top_navegation %>
    
    <a href="#" id="userdata_arrow"><img src="images/userdata_arrow.png" class="png_fix" alt="" /><img class="arrow_up" src="images/arrow_up.gif" /></a>
</div><!--/end userdata_box -->