<h1><%= possessive :latest_reviews %></h1>

<% if @reviews.blank? %>
  <div class="medium_text">
    <%= t("dashboards.user_has_not_posted_any_reviews", :name => profile_account.name) %>
  </div>
<% else %>
  <%= render :partial => 'review_item', :collection => @reviews %>
<% end %>
