<% if @reviews.size > 4 %>
  <b class="right_side"><%= link_to t('actions.view_all'), user_reviews_path(profile_account) %></b>
<% end %>
<h1><%= possessive :latest_reviews %></h1>

<% if @reviews.blank? %>
  <div class="medium_text">
    <%= possessive :has_not_reviews %>
  </div>
<% else %>
  <%= render :partial => 'reviews/item', :collection => @reviews[0..3] %>
<% end %>
