<div class="box_content">
  <h1>
    <%= profile_owner? ? t('possessives.first_person.playlists') : t('possessives.third_person.playlists', :subject => profile_account.first_name) %>
  </h1>
  <% if profile_account.playlists.size > 0 %>

    <ul class="top_mixes_list">
      <% profile_account.playlists.top.each do |p| %>
        <li>
          <a href="#"><img src="images/comment_icon.gif" class="top_mix_image" alt="" /></a>
          <div class="top_mix_text">
            <big>
              <%= link_to(p.name, playlist_path(p)) %>
            </big>
            <br/>
            Contains: <%= playlist_contains_to_search(p) %>
          </div>
          <div class="clearer"></div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="medium_text">
      <%= t("dashboards.user_has_no_playlists", :name => profile_account.name) %>
    </div>
  <% end %>
  <div class="align_right">
    <b class="right_side"><a href="#">view all</a></b><b><a href="#"></a></b>
  </div>
  <br />                    
</div>
