<html>
  <head>
    <script type="text/javascript">
      function onLoad() {
        if (parent) {
          proxyFrame = document.createElement("iframe");
          proxyFrame.style.visibility = "hidden";
          proxyFrame.style.position = "absolute";
          proxyFrame.style.top = proxyFrame.style.left = proxyFrame.style.width = proxyFrame.style.height = "0";
          proxyFrame.src = "<%= current_site_url %>/proxyframe_user_create_success.html";
          document.body.appendChild(proxyFrame);
        } else {
          alert("Register layer should be in a secure IFRAME.");
        };
      };
    </script>
  </head>
  <body onload="onLoad();">
  </body>
</html>

