<div class="create_playlist_form right_side">
    <form action="" method="post">
        <div>
            <span class="input_border"><input type="text" class="create_playlist_input" value="Enter the name of an artist or a song" onfocus="clearInput('Enter the name of an artist or a song', this); $('.create_box').show();" onblur="restoreInput('Enter the name of an artist or a song', this); $('.create_box').hide();" /></span>
            <input type="submit" class="create_playlist_btn" value="Create a Playlist" />
        </div>
        
        <div class="create_box">
            <a href="#" class="see_link">see all aritsts with "cold"</a>
            <h1>ARTISTS</h1>
            <div class="clearer"></div>
                
            <ul class="search_list">
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Artist Name</b><br/>
                        <small>Genre</small>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Artist Name</b><br/>
                        <small>Genre</small>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Artist Name</b><br/>
                        <small>Genre</small>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Artist Name</b><br/>
                        <small>Genre</small>
                        <br class="clearer" />
                    </a>
                </li>
            </ul>
            
            <a href="#" class="see_link">see all songs with "cold"</a>
            <h1>SONGS</h1>
            <div class="clearer"></div>
                
            <ul class="search_list">
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Song Name</b><br/>
                        <small>Artist Name</small>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Song Name</b><br/>
                        <small>Artist Name</small>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Song Name</b><br/>
                        <small>Artist Name</small>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Song Name</b><br/>
                        <small>Artist Name</small>
                        <br class="clearer" />
                    </a>
                </li>
            </ul>
            
            <a href="#" class="see_link">see all albums with "cold"</a>
            <h1>ALBUMS</h1>
            <div class="clearer"></div>
                
            <ul class="search_list">
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Album Name</b><br/>
                        <small>Artist Name</small>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Album Name</b><br/>
                        <small>Artist Name</small>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Album Name</b><br/>
                        <small>Artist Name</small>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Album Name</b><br/>
                        <small>Artist Name</small>
                        <br class="clearer" />
                    </a>
                </li>
            </ul>
        </div><!--/end create_box -->
    </form>
</div><!--/end create_playlist_form -->
