<div id="footer">
    <div class="left_side">
        <a href="#">About Coca-Cola</a>
        <a href="#">Terms &amp; Conditions</a>
        <a href="#">Privacy Policy</a>
        <a href="#">F.A.Q</a>
        <a href="#">Contact Us</a>
    </div>
    
    <a href="#"><img src="images/cyloop.gif" class="cyloop_logo" alt="" /></a>
    
    <div class="clearer"></div>
</div><!--/end footer -->
