<ul id="header_nav">
    <li><%= link_to t('main.navigation.home'), home_path, :class => (controller_name == "pages" and action_name == "home" ? 'active' : '') %></li>
    <li><%= link_to t('main.navigation.playlists'), radio_path, :class => (controller_name == "radio" ? 'active' : '') %></li>
    <li><%= link_to t('main.navigation.search'), search_path, :class => (controller_name == "searches" ? 'active' : '') %></li>
</ul>
