<div class="latest_badges_column">
  <h2><%= t("modules.latest_badge_awards.title").upcase %></h2>

  <ul class="list_items">
    <%= render :partial => 'shared/latest_badge_item', :collection => @latest_badges %>
  </ul>
</div>
