<h2 class="tit_bloque">
  <span class="txt"><%= t("modules.latest_badge_awards.title") %><em><%= t("modules.latest_badge_awards.description") %></em></span>
  <span class="bg_fin">&nbsp;</span>
</h2>
<ul class="premios">
  <%= render :partial => 'shared/latest_badge_item', :collection => @latest_badges %>
</ul><!-- .premios -->