<% 
  # HACK - TEMPORARY 
  tags = current_site.tags if tags.empty?
%>

<h2 class="tit_bloque">
  <span class="txt"><%= t("modules.popular_tags") %></span>

  <span class="bg_fin">&nbsp;</span>
</h2>
<div class="mod_tags">
<%= multitask_tag_bottle(tags, 60) %>
</div><!-- .mod_tags -->