<div class="tags_column">
    <h1>POPULAR TAGS</h1>
    
    <div class="side_tags">
        <a href="#" class="space9">love</a><br/>
        <a href="#" class="space18">fun</a><br/>
        <a href="#" class="space12">cute</a><br/>
        <a href="#" class="space8">sexy</a><br/>
        <a href="#" class="space6">dance</a><br/>
        <a href="#" class="space18">emo</a><br/>
        <a href="#" class="space9">dance</a><br/>
        <a href="#" class="space18">live</a><br/>
        <a href="#" class="space5">beautiful</a><br/>
        <a href="#" class="space4">bubblegum</a><br/>
        <a href="#" class="space8">favorite</a><br/>
        <a href="#" class="space8">awesome</a><br/>
        <a href="#" class="space10">rockstar</a><br/>
        <a href="#" class="space11">screamo</a><br/>
        <a href="#" class="space12">amazing</a><br/>
        <a href="#" class="space2">guilty-pleasures</a><br/>
        <a href="#" class="space2">female-vocalist</a><br/>
        <a href="#" class="space8">la-la-land</a><br/>
        <a href="#" class="space8">this-is-me</a><br/>
        <a href="#" class="space12">talented</a><br/>
        <a href="#" class="space16">energy</a><br/>
        <a href="#" class="space11">caliente</a><br/>
        <a href="#" class="space2">most-favorite</a><br/>
        <a href="#" class="space14">bounce</a><br/>
        <a href="#" class="space27">cute</a><br/>
        <a href="#" class="space3">yo-te-quiero</a><br/>
        <a href="#" class="space19">happy</a><br/>
        <a href="#" class="space18">catchy</a><br/>
        <a href="#" class="space11">pam-pam</a><br/>
        <a href="#" class="space2">beautiful-voice</a><br/>
        <a href="#" class="space10">fabulous</a><br/>
        <a href="#" class="space24">diva</a><br/>
    </div>
</div><!--/end tags_column -->
