<div class="top_playlists_column">
  <h1><%= t("modules.top_playlists.title").upcase %></h1>
  
  <ul class="list_items">
    <%= render :partial => 'shared/top_playlist_item', :collection => @top_playlists %>
  </ul>
</div>
