= link_to t('actions.close'), "#", :class => "close"
.stats
  %ul
    %li.search
      -# %span= t("registration.layers.search")
      %span Search

    %li.win
      -# %span= t("registration.layers.win")
      %span Win

    %li.follow
      -# %span= t("registration.layers.follow")
      %span Follow

    %li.create
      -# %span= t("registration.layers.create")
      %span Create

    %li.share
      %span= t("registration.layers.share")

