.registration_layer
  .top{:style => "background-image: url(/images/layers/#{layer_background_image});"}
    %h2.channel_headline=t('registration.layers.max_song', :link => link_to(t("registration.layers.click_here"), site_login_url))
    = render :partial => 'stats'
  = render :partial => 'bottom'
