<div class="black_banner">
  <div class="banner_flash_box">
      <script type="text/javascript" charset="utf-8">
        var flashvars = "MARKET=<%= current_site.code %>&TITLE=<%= t('modules.todays_top_artists.title') %>";
        AC_FL_RunContent(
          "src", "/flash/top_artist",
          "wmode", "opaque",
          "width", "616",
          "height", "251",
          "align", "middle",
          "id", "top_artist",
          "quality", "high",
          "bgcolor", "#000000",
          "name", "top_artist",
          "allowScriptAccess", "sameDomain",
          "type", "application/x-shockwave-flash",
          "pluginspage", "http://www.adobe.com/go/getflashplayer",
          "flashVars", flashvars
        );
      </script>
    <!--a href="#"><img src="images/banner_flash_box1.jpg" alt="" /></a-->
  </div>
    
  <div class="open_happiness_box">
    <!-- %= banner_ad("square_banner") % -->
    <img src="images/bucket-Coca-FM.jpg" alt="Coca-Cola.FM" /> 
  </div>
    
  <div class="clearer"></div>
</div><!--/end black_banner -->
