<div class="black_banner">
  <div class="banner_flash_box">
    <a href="#"><img src="images/banner_flash_box1.jpg" alt="" /></a>
  </div>
    
  <div class="open_happiness_box">
    <%= banner_ad("square_banner") %>
  </div>
    
  <div class="clearer"></div>
</div><!--/end black_banner -->
