<li>
  <a href="#" class="item_number">1</a>
  <span class="item_image">
    <img src="images/item_image.gif" alt="" />
    <a href="#"><img src="images/play_icon_red.png" class="play_icon png_fix" title="Play" alt="" /></a>
  </span>
  <div class="item_text">
    <big><b><a href="#" class="red">Playlist Name</a></b></big><br/>
    <small>By: <a href="#" class="red">Playlist Owner Name</a></small><br/>
    <span class="rating">
      <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
      <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
      <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
      <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
      <a href="#"><img src="images/rating_bottle_empty.png" class="png_fix" alt="" /></a>
    </span>
  </div>
  <br class="clearer" />
</li>
