<li>
  <a href="#" class="item_number">1</a>
  <span class="item_image">
    <img src="images/item_image.gif" alt="" />
  </span>
  <div class="item_text">
    <big><b><a href="#" class="red">DJ (User) Name</a></b></big><br/>
    <small>Country</small>
  </div>
  <br class="clearer" />
</li>
