<div class="support_pages">

  <% content_for :title do %>
    Downloads
  <% end %>

  <% content_for :head do %>
    <style type="text/css">
      .popup { width: 741px !important }
      .popup .content { background-image: url("../images/popup_h_bg_large.png") !important; }

      table.coke {
        width: 600px;
        margin: 0px auto;
      }
    </style>
  <% end %>

  <h1>DOWNLOADS</h1>

  <p class="preamble">
    DESCRIPTION OF DOWNLOADS
  </p>

  <table class="coke">
    <thead>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/downloads/screensaver/2D/CocaFM_Energia2D_setup.zip">Energia - 2D</a></td>
        <td><a href="#" onclick="jQuery.facebox({ajax: '/downloads/screensaver/2D/energia.html'});">preview</a></td>
      </tr>
      <tr>
        <td><a href="/downloads/screensaver/2D/CocaFM_Diversion2D_setup.zip">Diversion - 2D</a></td>
        <td><a href="#" onclick="jQuery.facebox({ajax: '/downloads/screensaver/2D/diversion.html'});">preview</a></td>
      </tr>
      <tr>
        <td><a href="/downloads/screensaver/3D/CocaFM_Energia3D_setup.zip">Energia - 3D</a></td>
        <td><a href="#" onclick="jQuery.facebox({ajax: '/downloads/screensaver/3D/energia.html'});">preview</a></td>
      </tr>
      <tr>
        <td><a href="/downloads/screensaver/3D/CocaFM_Diversion3D_setup.zip">Diversion - 3D</a></td>
        <td><a href="#" onclick="jQuery.facebox({ajax: '/downloads/screensaver/3D/diversion.html'});">preview</a></td>
      </tr>
    </tbody>
  </table>

</div>
