<div class="support_pages">

  <% content_for :title do %>
    Downloads
  <% end %>

  <% content_for :head do %>
    <%= javascript_include_tag "swfobject" %>
    <script type="text/javascript">
      swfobject.embedSWF("/flash/landing.swf", "downloads_landing_swf", "949", "574", "9.0.0");
    </script>
  <% end %>

  <h1><%= t("downloads.title") %></h1>

  <p class="preamble"><%= t("downloads.description") %></p>

  <div id="downloads_landing_swf"></div>

</div>
