<%= render :partial => 'shared/tag_cloud' %>
<%= render :partial => 'today_top_playlists' %>
<%= render :partial => 'today_top_djs' %>
<%= render :partial => 'latest_badges' %>
<div class="clearer"></div>
