<% content_for :head do %>
  <%= stylesheet_link_tag "errors" %>
<% end %>
<div id="error_pages" class="dyn">
  <h2><%= t('site.profile_not_found') %></h2>
  <p>
    <%= t('site.profile_not_found_sorry', :profile => params[:profile]) %>
  </p>  
</div>

