<h2>No se ha encontrado la pagina.</h2>
<p>
  La página que estás buscando puede haber sido removida,
  o su nombre modificado, o no se encuentra disponible temporalmente.
  Por favor, intenta lo siguiente:<br />
  <ul>
    <li>Si ingresaste la dirección URL de la página en la barra de direcciones, asegúrate de haber tipeado todos los caracteres correctamente.</li>
    <li>Haz clic aquí <a href="/"><%= params[:site_url] %></a> para volver a la página de Comienzo, y busca los enlaces hacia la página que quieres ir.</li>
    <li>Haz click en el botón para retroceder en tu navegador, e intenta con un enlace distinto</li>
  </ul>
</p>


