<div>
	<h1 style="text-transform: capitalize;font-weight:bold; font-size:22px;"> <%= t('messenger_player.layers.max_skip_layer.sorry') %></h1>
	<br/><br/>
  	<p style="font-weight:bold;">
	<%= t('messenger_player.layers.max_skip_layer.max_skip_msg') %>
	</p>
</div>