<li>
  <a href="#">
    <img src="/images/listen_icon.png" class="listen_icon png_fix" alt="" />
  </a>
  <img src="/images/mix_image.jpg" class="susbcription_image" alt="" />
  
  <div class="transparency_thumbanils png_fix"><a href="#"><img src="/images/duplicate_button.png" alt="" /></a>
    <a href="#"><img src="/images/play_button.png" alt="" /></a>
  </div>
  
  <div class="susbcription_text">
    <span class="susbcription_stars right_side">
      <img src="/images/rating_bottle_full.png" alt="" class="png_fix" /> 
      <img src="/images/rating_bottle_full.png" alt="" class="png_fix" /> 
      <img src="/images/rating_bottle_full.png" alt="" class="png_fix" /> 
      <img src="/images/rating_bottle_full.png" alt="" class="png_fix" /> 
      <img src="/images/rating_bottle_empty.png" alt="" class="png_fix" /></span>
    <big><a href="#">Playlist Name</a></big>

    <br/>
    <span class="grey">Last Modified Date (mm/dd/yy)</span><br/>
      
    <div class="tags_contains">
        Tags: <a href="#">Tag1</a>, <a href="#">Tag2</a>, <a href="#">Tag3</a>...<br/>
        Contains: <a href="#">Artist name 1</a>, <a href="#">Artist name 2</a>, <a href="#">Artist name 3</a>...<br/>
    </div>
      
    <div class="susbcription_creator">
      <img src="/images/network_icon.gif" class="creator_image" alt="" />
      <div class="creator_text">
         <b>Created by: <a href="#">Jason Calleiro</a></b><br/>
        Click <a href="#">here</a> to follow <a href="#">Jason</a>. </div>
    </div>
  </div>
  <br class="clearer" />
</li>
