.contenido-search
  - @search_types.each_with_index do |type, index|
    - if @local
      - if @counts[type]
        .cab-buscar
          %h5= type.to_s.capitalize
          = link_to 'Ver todos', '#', :title => 'ver'
    - if @counts[type] > 0
      = render :partial => "searches/list_#{type.to_s.singularize}", :collection => @results[type] unless @results[type].empty?
