<% if list_playlist.station %>
<li>
  <a href="<%= radio_path(:station_id => list_playlist.station.id) %>" content_switch_enabled="true">
      <%= avatar_for(list_playlist, :small, {:alt => "#{list_playlist.name}"}) %>
      <strong> <%= list_playlist.name %> </strong>
    </a>
</li>
<% end %>
