<div class="sorting">
  <%= sort_link_to :relevance, :id => 'users_sort_relevance' %> / 
  <%= sort_link_to :alphabetical, :id => 'users_sort_alphabetical' %> / 
  <%= sort_link_to :latest, :id => 'users_sort_latest' %>
</div>


