<div class="contenido">
  <div class="bloque">

    <form class="buscador_big">
      <label class="lupa_buscar">Lupa</label>
      <input type="text" class="text_buscar" value="Amaral" /><!-- value de ejemplo -->
      <input type="submit" value="USUARIOS" class="btn_buscar btn_bususuarios" />
      <input type="submit" value="MIXES" class="btn_buscar btn_busmixes activo" />
    </form>

    <div class="cont_columna doble">

      <div class="mod_mixes">
        <h2 class="tit_bloque">
          <span class="txt">Mixes<em>20 resultados</em></span>
          <span class="bg_fin">&nbsp;</span>
        </h2><!-- .tit_bloque -->
        <form class="f_ordenar" action="#">
          <select>
            <option>Relevencia</option>
            <option>Top</option>
            <option>Los mejor calificados</option>
            <option>Alfabético</option>
            <option>Más recientes</option>
          </select>
        </form><!-- .f_ordenar -->

        <% @search_types.each do |type| %>
          <%= render type.to_s unless @results[type].empty? %>
        <% end %>

        </div><!-- .mod_seguidores -->

      </div><!-- .cont_columna doble -->

      <div class="cont_columna der">
        <div class="open_happiness_box">
          <%= banner_ad("square_banner") %>
        </div><!-- .open_happiness_box -->      
        <div class="mod_emociones">
          <div class="mod_tags">
            <% cache("#{site_cache_key}/modules/tag_cloud", :expires_in => EXPIRATION_TIMES["home_tag_cloud"]) do %>
              <%= render :partial => "shared/tag_cloud", :locals => { :tags => current_site.tag_counts_from_playlists } %>
            <% end %>
          </div><!-- .mod_tags -->
        </div><!-- .mod_emociones -->
      </div><!-- .cont_columna der -->
    </div><!-- /bloque -->
  </div><!-- .contenido -->
