<div id="center_column">
  <%= render 'dashboards/recommended_playlists' %>
  <%= render 'dashboards/network_activity' %>
  <%= render 'dashboards/comment_list', :with_title => false %>
</div><!--/end center_column -->
