<% content_for :head do %>
  <script>
    var recommended_playlists_queue = [<%= @queued_playlists.collect(&:id).join(", ") %>];
  </script>
<% end %>

<h1><%= t('home.recommended_playlists') %></h1>

<% profile_account.playlists.latest.each_with_index do |p, i| %>
  <%= render :partial => 'playlists/widget_item', :locals => {:p => p, :last_box => (i % 3) == 0} %>
<% end %>