<div id="right_column">
  <div class="ad_box">
    <%= banner_ad("square_banner") %>
  </div>
  <%= render 'users/follows' %>
  <%= render 'users/recommended_djs' %>
  <%= render 'users/playlists' %>
</div><!--/end right_column -->
