<div id="right_column">
  <div class="ad_box">
    <%= banner_ad("square_banner") %>
  </div>
  <%= render 'shared/tweets'  if profile_artist? %>
  <%= render 'users/follows' %>
</div><!--/end right_column -->

