<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:og="http://ogp.me/ns#"
  xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta property="og:title" content="Tu música, tu voz y tu forma de compartirlas con el mundo" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.coca-cola.fm" />
  <meta property="og:image" content="http://www.goommarketing.com/cocacolaFMlogoGRANDE.jpg" />
  <meta property="og:site_name" content="Coca-Cola.FM" />
  <meta property="fb:admins" content="7518" />
</head>
<body style="margin:0;padding:0">
<script type="text/javascript">
  goomPartnerId='COCA-COLA-MX';
  goomDefaultRadio='4242705';
  goomAutoPlay='1';
  goomPopUpMode='1';
  goomAutoPopup='0';
  goomCustomUI='coca-cola-mexico';
  goomOneStreamMode='1';
  goomJsUI='0';
  goomBgColor='0';
  goomWidth='600';
  goomHeight='250';
  goomPopWidth='600';
  goomPopHeight='250';
  goomFbUrl='http%3A//mx.coca-cola.fm';
  goomFbX='148';
  goomFbY='162';
  goomFbLanguage='es_ES';
  goomFbCountFlag='button_count';
  goomTwtMsg='Checa Coca Cola FM y comparte con tus amigos todas las emociones que la radio en vivo tiene para ti!';
  goomTwtX='35';
  goomTwtY='162';
  goomTwtUrl='http%3A//mx.coca-cola.fm';
</script>
<script type="text/javascript" src="http://sunbear.goomradio.com/include.js"></script>
</body>
</html>

