<h2>Why Not Try...</h2>

<div class="try_list">
    <div class="small_thumb">
        <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
        <a href="#">Madonna</a>

    </div>

    <div class="small_thumb">
        <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
        <a href="#">Madonna</a>
    </div>

    <div class="small_thumb">
        <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
        <a href="#">Madonna</a>

    </div>

    <div class="small_thumb">
        <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
        <a href="#">Madonna</a>
    </div>

    <div class="small_thumb">
        <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
        <a href="#">Madonna</a>

    </div>

    <div class="small_thumb">
        <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
        <a href="#">Madonna</a>
    </div>

    <div class="small_thumb">
        <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
        <a href="#">Madonna</a>

    </div>

    <div class="small_thumb">
        <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
        <a href="#">Madonna</a>
    </div>

    <div class="small_thumb">
        <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
        <a href="#">Madonna</a>

    </div>

    <div class="small_thumb last_thumb">
        <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
        <a href="#">Madonna</a>
    </div>

    <br class="clearer" />
</div><!--/end try_list -->