<h2>Why Not Try...</h2>

<div class="try_list">
  <% @top_artists.each_with_index do |top_artists_item, index| %>
    <div class="small_thumb <%= index==9 ? "last_thumb" : "" %>">
        <%= link_to avatar_for(top_artists_item, :spaced_img, {:disable_default_css => true}), user_path(top_artists_item) %>
        <%= link_to truncate(top_artists_item.name, :length => 10), playlist_create_path(:artist_id => top_artists_item.id) %>
    </div>
  <% end %> 
  <br class="clearer" />
</div><!--/end try_list -->