<script language="javascript">
  var content_msg = "<%= t('search.content_search_hint') %>";
</script>

<div class="search_playlist_form">
  <% form_for :search, :url => search_path, :html => { :onsubmit => 'return Base.playlist_search.buildSearchUrl();', :method => :get, :id => :playlist_search_form, :class => "account_settings search_music" } do |f| %>
    
      <div class="form_row last">
          <div class="grey_round_box align_center"><%= text_field_tag :q, t('search.content_search_hint', :default => ''),  {:id => :playlist_search_query, :class => "input full_width3", :onfocus => " clearInput(content_msg, this);", :onblur => "restoreInput(content_msg, this); setTimeout(function() {$('.create_box').hide();}, 300);", :autocomplete => :off } %></div>
          <div id="playlist_search_results" class="create_box large_width"></div><!--/end create_box -->
      </div><!--/end form_row -->
    
  <% end %>
</div>
<div class="content_search_results_ajax"><%= image_tag "/images/loading.gif" %></div>
