<%= render "/shared/social/fbconnect" %>
<div id="social">
  <div class="container">
    <span class="title"><%= t('sessions.new.social') %></span><br /><br />
    <fb:login-button id="fb_login" perms="user_birthday, email"></fb:login-button>
  </div>
</div>
