<wl:app
  channelurl="/channel.html"
  callbackurl="<%= new_session_path %>"
  clientid="<%= WindowsConnect::CLIENT_ID %>"
  scope="WL_Profiles.View" 
  onload="winConnectLoaded">
</wl:app>

<div id="winconnect-root">
  <% javascript_tag do %>
    function winConnectLoaded(p_event) {
      // console.log('win connect app tag initialized');
      // debugAuth();
      // debugProfilePerms();
    }

    <%
    #function debugAuth() {
    #  auth = Microsoft.Live.App.get_auth();
    #  console.log('access token: ' + auth.get_accessToken());
    #  // console.log('appplication consent url: ' + auth.get_applicationConsentUrl());
    #  // console.log('callback url: ' + auth.get_callbackUrl());
    #  console.log('client id: ' + auth.get_clientId());
    #  console.log('req scopes: ' + auth.get_requestedScopes());
    #  console.log('state: ' + Microsoft.Live.AuthState.toString(auth.get_state()));
    #  console.log('cid: ' + auth.get_cid());
    #  console.log('errorMsg: ' + auth.get_errorMsg());
    #  console.log('expireDates: ' + auth.get_expirationDates());
    #  console.log('granted scopes: ' + auth.get_grantedScopes());
    #  console.log('isLiveUser: ' + auth.get_isLiveUser());
    #}
    %>

    <%
      #function debugProfilePerms() {
      #Microsoft.Live.App.getConsent([Microsoft.Live.Scope.wl_Profiles_View], function(args) {
      #  if (args.get_resultCode() === Microsoft.Live.AsyncResultCode.success) {
      #    console.log("got profile permissions.");
      #  } else {
      #    console.log("profile permissions failed.");
      #  }
      #});
      #} 
    %>

    <%
    #function debugProfile() {
    #  Microsoft.Live.App.get_dataContext().loadAll(
    #    Microsoft.Live.DataType.profile,
    #    function(args) {
    #      if (args.get_resultCode() !== Microsoft.Live.AsyncResultCode.success) {
    #        console.log("error getting profile data");
    #      } else {
    #        var profilesCollection = args.get_data();
    #        var profile = profilesCollection.get_profile();
    #        console.log(profile.get_firstName());
    #        console.log(profile.get_lastName());
    #        console.log(profile.get_emails());
    #        console.log(profile.get_location());
    #        console.log(profile.get_birthDay());
    #        console.log(profile.get_birthMonth());
    #        console.log(profile.get_birthYear());
    #        console.log(profile.get_gender());
    #        console.dir(profile);
    #      }
    #    }
    #  );
    #}
    %>

    // deferred Windows Connect script load for performance
    (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//js.live.net/4.1/loader.js';
      e.async = true;
      document.getElementById('winconnect-root').appendChild(e);
    }());
  <% end %>
</div>

