<div class="reviews">
    <div class="title">
        <div class="align_right">REVIEWS (1)</div>
    </div>

    <div class="review_item">
        <span class="close_btn">Close</span>

        <a href="#"><img src="/images/comment_icon.gif" class="review_icon" alt="" /></a>

        <div class="review_creator">
            <b><a href="#">Jason Calleiro</a></b><br/>
            2 days ago<br/>
            <span class="rating">
                <img src="/images/rating_bottle_full.png" class="png_fix" alt="" />
                <img src="/images/rating_bottle_full.png" class="png_fix" alt="" />
                <img src="/images/rating_bottle_full.png" class="png_fix" alt="" />
                <img src="/images/rating_bottle_full.png" class="png_fix" alt="" />

                <img src="/images/rating_bottle_empty.png" class="png_fix" alt="" />
            </span>
        </div>
        <div class="review_text">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sedsds ...</p>
          <p><a href="#">read more</a></p>
        </div>
        <br class="clearer" />

    </div><!--/end review_item -->

    <br/><br/><br/><br/>

    <div class="view_all">
        <b><a href="#">view all</a></b>
    </div>
</div><!--/end reviews -->
