<div class="reviews">
  <div class="title">
    <div class="align_right"><%= t('modules.reviews.title').upcase %> (0)</div>
  </div>
  <br/><br/>
  <div class="medium_text">
    <%= t('playlist.doesnt_have_any_reviews') %>
  </div>
</div>
