<div class="two_columns">
    <h1>CREATE A NEW PLAYLIST</h1>

    
    <h2>Search for music to add to your playlist</h2>
    
    <form class="account_settings search_music" method="post" action="">
        <div class="form_row last">
            <div class="grey_round_box align_center">
                <input type="text" class="input full_width3" value="Enter an Artist or Song Name" onfocus="clearInput( 'Enter an Artist or Song Name', this); $('.create_box').show();" onblur="restoreInput( 'Enter an Artist or Song Name', this); $('.create_box').hide();" />
            </div>
            
            <div class="create_box large_width">
        <a href="#" class="see_link">see all aritsts with "cold"</a>

        <h1>ARTISTS</h1>
        <div class="clearer"></div>
            
        <ul class="search_list">
            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />
                    <b>Artist Name</b><br/>
                    <small>Genre</small>

                    <br class="clearer" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />
                    <b>Artist Name</b><br/>
                    <small>Genre</small>

                    <br class="clearer" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />
                    <b>Artist Name</b><br/>
                    <small>Genre</small>

                    <br class="clearer" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />
                    <b>Artist Name</b><br/>
                    <small>Genre</small>

                    <br class="clearer" />
                </a>
            </li>
        </ul>
        
        <a href="#" class="see_link">see all songs with "cold"</a>
        <h1>SONGS</h1>
        <div class="clearer"></div>
            
        <ul class="search_list">

            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />
                    <b>Song Name</b><br/>
                    <small>Artist Name</small>
                    <br class="clearer" />
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />
                    <b>Song Name</b><br/>
                    <small>Artist Name</small>
                    <br class="clearer" />
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />
                    <b>Song Name</b><br/>
                    <small>Artist Name</small>
                    <br class="clearer" />
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />
                    <b>Song Name</b><br/>
                    <small>Artist Name</small>
                    <br class="clearer" />
                </a>
            </li>

        </ul>
        
        <a href="#" class="see_link">see all albums with "cold"</a>
        <h1>ALBUMS</h1>
        <div class="clearer"></div>
            
        <ul class="search_list">
            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />

                    <b>Album Name</b><br/>
                    <small>Artist Name</small>
                    <br class="clearer" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />

                    <b>Album Name</b><br/>
                    <small>Artist Name</small>
                    <br class="clearer" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />

                    <b>Album Name</b><br/>
                    <small>Artist Name</small>
                    <br class="clearer" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/search_result_icon.gif" alt="" />

                    <b>Album Name</b><br/>
                    <small>Artist Name</small>
                    <br class="clearer" />
                </a>
            </li>
        </ul>
            </div><!--/end create_box -->
        </div><!--/end form_row -->

    </form>
    
    <h2>Search Results</h2>
    
    <div class="empty_results_box">
        <div class="step_no">1</div>
        <h2>SELECT YOUR SONGS</h2>
        <div>
            Song search results will show up here<br/>drag the songs you like the container to<br/>

            the right to create your playlist
        </div>
    </div>
    
    <h2>Why Not Try...</h2>
    
    <div class="try_list">
        <div class="small_thumb">
            <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
            <a href="#">Madonna</a>

        </div>
        
        <div class="small_thumb">
            <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
            <a href="#">Madonna</a>
        </div>
        
        <div class="small_thumb">
            <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
            <a href="#">Madonna</a>

        </div>
        
        <div class="small_thumb">
            <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
            <a href="#">Madonna</a>
        </div>
        
        <div class="small_thumb">
            <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
            <a href="#">Madonna</a>

        </div>
        
        <div class="small_thumb">
            <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
            <a href="#">Madonna</a>
        </div>
        
        <div class="small_thumb">
            <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
            <a href="#">Madonna</a>

        </div>
        
        <div class="small_thumb">
            <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
            <a href="#">Madonna</a>
        </div>
        
        <div class="small_thumb">
            <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
            <a href="#">Madonna</a>

        </div>
        
        <div class="small_thumb last_thumb">
            <a href="#"><img src="images/comment_icon.gif" alt="" class="spaced_img" /></a>
            <a href="#">Madonna</a>
        </div>
        
        <br class="clearer" />
    </div><!--/end try_list -->
</div><!--/end two_columns -->


<div id="right_column">
    <h1>PLAYLIST RULES</h1>
    
    <div class="rules_list">
        <div class="rule">maximum of 2 songs from the same artist</div>
        <div class="rule">maximum of 2 songs from the same album</div>
    </div><!--/end rules_list -->
    
    <h2 class="left_side">10 tracks remaining to publish</h2>

    
    <div class="black_count">0</div>
    
    <br class="clearer" />
    
    <div class="dotted_box">
        <div class="layer2">
            <div class="layer3">
                <div class="step_no">2</div>
                <h2>DRAG SONGS HERE</h2>

                <div>
                    include at least 10 songs,<br/>with no more than 2 songs<br/>from the same artist<br/>or the same album
                </div>
            </div>
        </div>
    </div><!--/end dotted_box -->
    
    <div class="align_right">
        <a href="#" class="cancel_button">CANCEL</a>

    </div>
</div><!--/end right_column -->

<div class="clearer"></div>

