<ul class="comments_list">
  <%= render :partial => 'item', :collection => @collection %>
</ul>
<div class="align_right">
  <a href="#" class="red_button"><span><span>SHOW MORE</span></span></a>
</div>
