                <ul class="comments_list">
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>
                            <span class="grey">5 days ago</span>

                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/comment_icon.gif" class="comment_icon" alt="" /></a>
                        <div class="comment_text">
                            <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>

                            <span class="grey">5 days ago</span>
                        </div>
                        <div class="clearer"></div>
                    </li>
                 </ul>
                <div class="align_right">
                    <a href="#" class="red_button"><span><span>SHOW MORE</span></span></a>
                </div>

