<%= render :partial => 'item', :collection => @collection %>

<% if @has_more %>
  <a class="ico_mas" href="#" onclick="Base.activity.show_more(this, '<%=profile_user.slug%>'); return false;" title="<%= t('actions.view_more') %>"><%= t('actions.view_more') %><span class="bg_flecha">&nbsp;</span></a>
<% end %>
