 <div class="aviso_cab">
 	<h1><%= t('coke_messenger.layers.license_layer.sorry') %></h1>
    <% unless @locked %>
      <a class="btn_cerrar" href="#" onclick="$.alert_layer.close();" title="<%= t('actions.close') %>"><strong>X</strong> <%= t('actions.close') %></a>
    <% end %>
  </div>
<p><%= t('coke_messenger.layers.license_layer.license_msg') %></p>
