<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Coca-Cola</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta name="KEYWORDS" content="" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    
    <script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="js/supersleight.plugin.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      //png_fix for png images and png backgrounds
      $('.png_fix').supersleight({shim: 'images/blank.gif'});
    });
    </script>
</head>
<body>

    <div id="container">
        <div id="header">
            <a href="#"><img src="images/logo.png" id="logo" class="png_fix" alt="Coca-Cola" title="Coca-Cola" /></a>
            
            <ul id="header_nav">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Playlists</a></li>
                <li><a href="#">Search</a></li>
            </ul>
            
            <div id="search_form">
                <form action="" method="post">
                    <div>
                        <input type="text" class="search_input" value="Search for your favorite artist &amp; music" onfocus="clearInput('Search for your favorite artist &amp; music', this); $('.search_results_box').show();" onblur="restoreInput('Search for your favorite artist &amp; music', this); setTimeout(function() {$('.search_results_box').hide();}, 300);" />
                        <input type="image" src="images/search_icon.gif" class="search_button" />
                        <div class="clearer"></div>
                    </div>
                </form>
                
                <div class="search_results_box">
                    <div class="oveflow_list">
                        <h1>PLAYLISTS</h1>
                        
                        <ul class="search_list">
                            <li>
                                <a href="#">
                                    <img src="images/search_result_icon.gif" alt="" />
                                    <b>Playlist Name</b><br/>
                                    <small><b>Contains:</b> A1, A2, A3...</small>
                                    <br class="clearer" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/search_result_icon.gif" alt="" />
                                    <b>Fun Party Mix</b><br/>
                                    <small><b>Contains:</b> Metallica, Someone Else, Alice in Chains...</small>
                                    <br class="clearer" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/search_result_icon.gif" alt="" />
                                    <b>Fun Party Mix</b><br/>
                                    <small><b>Contains:</b> Metallica, Someone Else, Alice in Chains...</small>
                                    <br class="clearer" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/search_result_icon.gif" alt="" />
                                    <b>Fun Party Mix</b><br/>
                                    <small><b>Contains:</b> Metallica, Someone Else, Alice in Chains...</small>
                                    <br class="clearer" />
                                </a>
                            </li>
                        </ul>
                        
                        <div class="grey_spacer"></div>
                        
                        <h1>USERS</h1>
                        
                        <ul class="search_list">
                            <li>
                                <a href="#">
                                    <img src="images/search_result_icon.gif" alt="" />
                                    <b>User Name</b><br/>
                                    <small>Country</small>
                                    <br class="clearer" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/search_result_icon.gif" alt="" />
                                    <b>Alexandra Martinez</b><br/>
                                    <small>Brazil</small>
                                    <br class="clearer" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/search_result_icon.gif" alt="" />
                                    <b>Javier Urquiza</b><br/>
                                    <small>United States</small>
                                    <br class="clearer" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/search_result_icon.gif" alt="" />
                                    <b>Alexandra Martinez</b><br/>
                                    <small>Brazil</small>
                                    <br class="clearer" />
                                </a>
                            </li>
                        </ul>
                                               
                    </div><!--/end oveflow_list -->
                    
                    <div class="search_term">
                        search for "cold"
                    </div>
                </div><!--/end search_results_box -->
            </div><!--/end search_form -->
            
            <div id="userdata_box">
                <div class="user">
                    <img src="images/userdata_icon.gif" alt="" /> <a href="#">Javier Pons</a>
                </div>
                
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Playlists</a></li>
                    <li><a href="#">Badges</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Subscriptions</a></li>
                    <li><a href="#">Activity</a></li>
                    <li><a href="#">Followers</a></li>
                    <li><a href="#">Following</a></li>
                    <li><a href="#">Account Settings</a></li>
                    <li class="last"><a href="#">Log Out</a></li>
                </ul>
                
                <a href="#" id="userdata_arrow"><img src="images/userdata_arrow.png" class="png_fix" alt="" /><img class="arrow_up" src="images/arrow_up.gif" /></a>
            </div><!--/end userdata_box -->
            
            <div class="clearer"></div>
        </div><!--/end header -->
        
        <div class="create_playlist_form right_side">
            <form action="" method="post">
                <div>
                    <span class="input_border"><input type="text" class="create_playlist_input" value="Enter the name of an artist or a song" onfocus="clearInput('Enter the name of an artist or a song', this); $('.create_box').show();" onblur="restoreInput('Enter the name of an artist or a song', this); $('.create_box').hide();" /></span>
                    <input type="submit" class="create_playlist_btn" value="Create a Playlist" />
                </div>
                
                <div class="create_box">
                    <a href="#" class="see_link">see all aritsts with "cold"</a>
                    <h1>ARTISTS</h1>
                    <div class="clearer"></div>
                        
                    <ul class="search_list">
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Artist Name</b><br/>
                                <small>Genre</small>
                                <br class="clearer" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Artist Name</b><br/>
                                <small>Genre</small>
                                <br class="clearer" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Artist Name</b><br/>
                                <small>Genre</small>
                                <br class="clearer" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Artist Name</b><br/>
                                <small>Genre</small>
                                <br class="clearer" />
                            </a>
                        </li>
                    </ul>
                    
                    <a href="#" class="see_link">see all songs with "cold"</a>
                    <h1>SONGS</h1>
                    <div class="clearer"></div>
                        
                    <ul class="search_list">
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Song Name</b><br/>
                                <small>Artist Name</small>
                                <br class="clearer" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Song Name</b><br/>
                                <small>Artist Name</small>
                                <br class="clearer" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Song Name</b><br/>
                                <small>Artist Name</small>
                                <br class="clearer" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Song Name</b><br/>
                                <small>Artist Name</small>
                                <br class="clearer" />
                            </a>
                        </li>
                    </ul>
                    
                    <a href="#" class="see_link">see all albums with "cold"</a>
                    <h1>ALBUMS</h1>
                    <div class="clearer"></div>
                        
                    <ul class="search_list">
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Album Name</b><br/>
                                <small>Artist Name</small>
                                <br class="clearer" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Album Name</b><br/>
                                <small>Artist Name</small>
                                <br class="clearer" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Album Name</b><br/>
                                <small>Artist Name</small>
                                <br class="clearer" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/search_result_icon.gif" alt="" />
                                <b>Album Name</b><br/>
                                <small>Artist Name</small>
                                <br class="clearer" />
                            </a>
                        </li>
                    </ul>
                </div><!--/end create_box -->
            </form>
        </div><!--/end create_playlist_form -->
        
        <div class="clearer"></div>
        
        <div class="black_banner">
            <div class="banner_flash_box">
                <a href="#"><img src="images/banner_flash_box1.jpg" alt="" /></a>
             </div>
            
      <div class="open_happiness_box">
                <a href="#"><img src="images/open_happiness.jpg" alt="" /></a>
            </div>
            
            <div class="clearer"></div>
        </div><!--/end black_banner -->
        
        <div id="main_content">
            <div class="tags_column">
                <h1>POPULAR TAGS</h1>
                
                <div class="side_tags">
                    <a href="#" class="space9">love</a><br/>
                    <a href="#" class="space18">fun</a><br/>
                    <a href="#" class="space12">cute</a><br/>
                    <a href="#" class="space8">sexy</a><br/>
                    <a href="#" class="space6">dance</a><br/>
                    <a href="#" class="space18">emo</a><br/>
                    <a href="#" class="space9">dance</a><br/>
                    <a href="#" class="space18">live</a><br/>
                    <a href="#" class="space5">beautiful</a><br/>
                    <a href="#" class="space4">bubblegum</a><br/>
                    <a href="#" class="space8">favorite</a><br/>
                    <a href="#" class="space8">awesome</a><br/>
                    <a href="#" class="space10">rockstar</a><br/>
                    <a href="#" class="space11">screamo</a><br/>
                    <a href="#" class="space12">amazing</a><br/>
                    <a href="#" class="space2">guilty-pleasures</a><br/>
                    <a href="#" class="space2">female-vocalist</a><br/>
                    <a href="#" class="space8">la-la-land</a><br/>
                    <a href="#" class="space8">this-is-me</a><br/>
                    <a href="#" class="space12">talented</a><br/>
                    <a href="#" class="space16">energy</a><br/>
                    <a href="#" class="space11">caliente</a><br/>
                    <a href="#" class="space2">most-favorite</a><br/>
                    <a href="#" class="space14">bounce</a><br/>
                    <a href="#" class="space27">cute</a><br/>
                    <a href="#" class="space3">yo-te-quiero</a><br/>
                    <a href="#" class="space19">happy</a><br/>
                    <a href="#" class="space18">catchy</a><br/>
                    <a href="#" class="space11">pam-pam</a><br/>
                    <a href="#" class="space2">beautiful-voice</a><br/>
                    <a href="#" class="space10">fabulous</a><br/>
                    <a href="#" class="space24">diva</a><br/>
                </div>
            </div><!--/end tags_column -->
            
            <div class="top_playlists_column">
                <h1>TODAY’S TOP PLAYLISTS</h1>
                
                <ul class="list_items">
                    <li>
                        <a href="#" class="item_number">1</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                            <a href="#"><img src="images/play_icon_red.png" class="play_icon png_fix" title="Play" alt="" /></a>
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Playlist Name</a></b></big><br/>
                            <small>By: <a href="#" class="red">Playlist Owner Name</a></small><br/>
                            <span class="rating">
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <a href="#"><img src="images/rating_bottle_empty.png" class="png_fix" alt="" /></a>
                            </span>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <a href="#" class="item_number">2</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                            <a href="#"><img src="images/play_icon_red.png" class="play_icon png_fix" title="Play" alt="" /></a>
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Canciones para ti</a></b></big><br/>
                            <small>By: <a href="#" class="red">Johnny Luz</a></small><br/>
                            <span class="rating">
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <a href="#"><img src="images/rating_bottle_empty.png" class="png_fix" alt="" /></a>
                            </span>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <a href="#" class="item_number">3</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                            <a href="#"><img src="images/play_icon_red.png" class="play_icon png_fix" title="Play" alt="" /></a>
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Canciones para ti</a></b></big><br/>
                            <small>By: <a href="#" class="red">Johnny Luz</a></small><br/>
                            <span class="rating">
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <a href="#"><img src="images/rating_bottle_empty.png" class="png_fix" alt="" /></a>
                            </span>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <a href="#" class="item_number">4</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                            <a href="#"><img src="images/play_icon_red.png" class="play_icon png_fix" title="Play" alt="" /></a>
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Canciones para ti</a></b></big><br/>
                            <small>By: <a href="#" class="red">Johnny Luz</a></small><br/>
                            <span class="rating">
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <a href="#"><img src="images/rating_bottle_empty.png" class="png_fix" alt="" /></a>
                            </span>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <a href="#" class="item_number">5</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                            <a href="#"><img src="images/play_icon_red.png" class="play_icon png_fix" title="Play" alt="" /></a>
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Canciones para ti</a></b></big><br/>
                            <small>By: <a href="#" class="red">Johnny Luz</a></small><br/>
                            <span class="rating">
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <a href="#"><img src="images/rating_bottle_empty.png" class="png_fix" alt="" /></a>
                            </span>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <a href="#" class="item_number">6</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                            <a href="#"><img src="images/play_icon_red.png" class="play_icon png_fix" title="Play" alt="" /></a>
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Canciones para ti</a></b></big><br/>
                            <small>By: <a href="#" class="red">Johnny Luz</a></small><br/>
                            <span class="rating">
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <img src="images/rating_bottle_full.png" class="png_fix" alt="" />
                                <a href="#"><img src="images/rating_bottle_empty.png" class="png_fix" alt="" /></a>
                            </span>
                        </div>
                        <br class="clearer" />
                    </li>
                </ul><!--/end list_items -->
            </div><!--/end top_playlists_column -->
            
            <div class="top_djs_column">
                <h1>TODAY’S TOP DJ'S</h1>
                
                <ul class="list_items">
                    <li>
                        <a href="#" class="item_number">1</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">DJ (User) Name</a></b></big><br/>
                            <small>Country</small>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <a href="#" class="item_number">2</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Alex Pinard</a></b></big><br/>
                            <small>Mexico</small>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <a href="#" class="item_number">3</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Alex Pinard</a></b></big><br/>
                            <small>Mexico</small>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <a href="#" class="item_number">4</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Alex Pinard</a></b></big><br/>
                            <small>Mexico</small>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <a href="#" class="item_number">5</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Alex Pinard</a></b></big><br/>
                            <small>Mexico</small>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <a href="#" class="item_number">6</a>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b><a href="#" class="red">Alex Pinard</a></b></big><br/>
                            <small>Mexico</small>
                        </div>
                        <br class="clearer" />
                    </li>
                </ul><!--/end list_items -->
            </div><!--/end top_djs_column -->
            
            <div class="latest_badges_column">
                <h1>LATEST BADGES AWARDED</h1>
                
                <ul class="list_items">
                    <li>
                        <span class="badge_box"><a href="#"><img src="images/badge_fire.gif" alt="" /></a></span>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b>Badge Name</b></big><br/>
                            <b><a href="#" class="red">Badge Owner (User)</a></b><br/>
                            <small>Country</small>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <span class="badge_box"><a href="#"><img src="images/badge_hiphop.gif" alt="" /></a></span>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b>Master of Hip-Hop</b></big><br/>
                            <b><a href="#" class="red">Patrick Paul</a></b><br/>
                            <small>Mexico</small>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <span class="badge_box"><a href="#"><img src="images/badge_king.gif" alt="" /></a></span>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b>King of DJ's</b></big><br/>
                            <b><a href="#" class="red">Patrick Paul</a></b><br/>
                            <small>Mexico</small>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <span class="badge_box"><a href="#"><img src="images/badge_favorite.gif" alt="" /></a></span>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b>Favorite DJ</b></big><br/>
                            <b><a href="#" class="red">Patrick Paul</a></b><br/>
                            <small>Mexico</small>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <span class="badge_box"><a href="#"><img src="images/badge_playlist.gif" alt="" /></a></span>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b>My First Playlist</b></big><br/>
                            <b><a href="#" class="red">Patrick Paul</a></b><br/>
                            <small>Mexico</small>
                        </div>
                        <br class="clearer" />
                    </li>
                    <li>
                        <span class="badge_box"><a href="#"><img src="images/badge_fire.gif" alt="" /></a></span>
                        <span class="item_image">
                            <img src="images/item_image.gif" alt="" />
                        </span>
                        <div class="item_text">
                            <big><b>DJ on Fire</b></big><br/>
                            <b><a href="#" class="red">Patrick Paul</a></b><br/>
                            <small>Mexico</small>
                        </div>
                        <br class="clearer" />
                    </li>
                </ul><!--/end list_items -->
            </div><!--/end latest_badges_column -->
            
            <div class="clearer"></div>
        </div><!--/end main_content -->
        
        <div id="footer">
            <div class="left_side">
                <a href="#">About Coca-Cola</a>
                <a href="#">Terms &amp; Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">F.A.Q</a>
                <a href="#">Contact Us</a>
            </div>
            
            <a href="#"><img src="images/cyloop.gif" class="cyloop_logo" alt="" /></a>
            
            <div class="clearer"></div>
        </div><!--/end footer -->
    </div><!--/end container -->

</body>
</html>