<div id="center_column">
  <%= render 'users/latest_playlists' %>
  <%= render 'users/latest_reviews' %>
  
  <br /><br />
  <% if false %>
  <!--            <div class="pagination">
    <span class="disabled prev_page">&laquo; Previous</span> 
    <span class="current">1</span> 
    <a href="/articles?page=2" rel="next">2</a> 
    <a href="/articles?page=3">3</a> 
    <a href="/articles?page=3">4</a> 
    <a href="/articles?page=3">5</a> 
    <a href="/articles?page=3">6</a> 
    <a href="/articles?page=3">7</a> 
    <a href="/articles?page=3">8</a> 
    <span class="red">...</span>
    <a href="/articles?page=2" class="next_page" rel="next">Next &raquo;</a>
  </div>-->
  <% end %>

</div><!--/end center_column -->
