<h1><%= t('home.network_update', :user_name => artist_or_user_name(profile_account)) %></h1>
<ul class="comments_list" id="network_comment_list">
</ul>

<b class="right_side"><%= link_to t('actions.view_more'), activities_path %></b>
